Repository fjacquet/epic_news: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff lint
        entry: ruff
        args: ["check", "--fix"]
        language: system
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: ruff
        args: ["format"]
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: yamllint
        args: ["-s"]
        language: system
        types: [yaml]

docs(specs): record wave order, concurrency 3, ClassifyCrew fallback
  docs/superpowers/specs/2026-10-04-efficiency-wave-design.md
  docs/superpowers/specs/2026-10-04-simplification-wave-design.md
Due: none

docs(specs): keep one Flow step per crew in the simplification wave
  docs/superpowers/specs/2026-10-04-simplification-wave-design.md
Due: none

docs(specs): renderer failures stop the run (simplification S5)
  docs/superpowers/specs/2026-10-04-simplification-wave-design.md
Due: none

docs(specs): approve efficiency and simplification wave designs
  docs/superpowers/specs/2026-10-04-efficiency-wave-design.md
  docs/superpowers/specs/2026-10-04-simplification-wave-design.md
Due: none

docs(plans): efficiency wave implementation plan
  docs/superpowers/plans/2026-10-04-efficiency-wave.md
Due: none

feat(flow): log duration and token usage for every crew run
  src/epic_news/utils/flow_enforcement.py
  tests/utils/test_flow_enforcement_retry.py
  tests/utils/test_flow_enforcement_usage.py
Due: ruff-lint, ruff-format

feat(scripts): add flow bench script and record baseline
  docs/reference/outputs.md
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
  scripts/bench_flow.py
  scripts/bench_requests.json
  tests/scripts/test_bench_flow.py
Due: ruff-lint, ruff-format

feat(llm): cap simultaneous LLM calls process-wide (LLM_MAX_CONCURRENCY=3)
  .env.example
  src/epic_news/config/llm_config.py
  tests/config/test_llm_concurrency_cap.py
Due: ruff-lint, ruff-format

fix(llm): make the LLM slot reentrant and cancel-safe
  src/epic_news/config/llm_config.py
  tests/config/test_llm_concurrency_cap.py
Due: ruff-lint, ruff-format

perf: import Composio lazily and stop replaying whole crews by default
  .env.example
  src/epic_news/config/__init__.py
  src/epic_news/utils/flow_enforcement.py
  tests/config/test_config_package_import.py
  tests/utils/test_flow_enforcement_retry.py
Due: ruff-lint, ruff-format

perf(email): load Composio only when an email is sent
  src/epic_news/config/__init__.py
  src/epic_news/utils/email_sender.py
  tests/config/test_config_package_import.py
  tests/utils/test_email_sender.py
Due: ruff-lint, ruff-format

perf(tools): cap backup scraper output at SCRAPE_MAX_CHARS
  .env.example
  src/epic_news/crews/deep_research/deep_research.py
  src/epic_news/crews/pestel/pestel_crew.py
  src/epic_news/crews/sales_prospecting/sales_prospecting_crew.py
  src/epic_news/tools/capped_scrape_tool.py
  src/epic_news/tools/web_tools.py
  tests/tools/test_capped_scrape_tool.py
  tests/tools/test_web_tools.py
Due: ruff-lint, ruff-format

perf(pestel): run the six dimension tasks in parallel
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
  src/epic_news/crews/pestel/pestel_crew.py
  tests/crews/test_async_agent_isolation.py
  tests/crews/test_pestel_async_tasks.py
Due: ruff-lint, ruff-format

docs(bench): add traced second PESTEL async run and run-to-run variance note
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
Due: none

perf(news_daily): run region tasks in parallel with one researcher each
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
  src/epic_news/crews/news_daily/news_daily.py
  tests/crews/test_async_agent_isolation.py
  tests/crews/test_news_daily_async_tasks.py
Due: ruff-lint, ruff-format

perf(docx): narrate report sections in parallel (DOCX_FRAGMENT_CONCURRENCY=3)
  .env.example
  src/epic_news/utils/concurrency.py
  src/epic_news/utils/docx_report/assemble.py
  tests/utils/docx_report/test_assemble_failure_modes.py
  tests/utils/docx_report/test_assemble_parallel.py
  tests/utils/test_concurrency.py
Due: ruff-lint, ruff-format

test(docx): pin pool size and bound calls in the shutdown abort test
  tests/utils/docx_report/test_assemble_failure_modes.py
Due: ruff-lint, ruff-format

perf(holiday): send each day section only its own itinerary research
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
  src/epic_news/utils/holiday_report/assemble.py
  tests/utils/holiday_report/test_day_slices.py
Due: ruff-lint, ruff-format

perf(cooking): one LLM pass per recipe; write Paprika YAML/JSON in Python
  src/epic_news/crews/cooking/config/agents.yaml
  src/epic_news/crews/cooking/config/tasks.yaml
  src/epic_news/crews/cooking/cooking_crew.py
  src/epic_news/main.py
  src/epic_news/models/crews/cooking_recipe.py
  src/epic_news/utils/recipe_export.py
  tests/crews/test_cooking_crew_single_task.py
  tests/utils/test_recipe_export.py
Due: ruff-lint, ruff-format, yamllint

perf(menu): generate menu recipes in parallel (MENU_RECIPE_CONCURRENCY=3)
  .env.example
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
  src/epic_news/main.py
  tests/flows/test_menu_recipes_parallel.py
Due: ruff-lint, ruff-format

fix(menu): give each menu recipe its own export files
  src/epic_news/main.py
  tests/flows/test_menu_recipes_parallel.py
Due: ruff-lint, ruff-format

feat(bench): report LiteLLM call and token totals per run
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
  scripts/bench_flow.py
  tests/scripts/test_bench_flow.py
Due: ruff-lint, ruff-format

docs(bench): update menu note after per-recipe file names
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
Due: none

feat(scripts): add routing evaluation set and record baseline accuracy
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
  scripts/eval_routing.py
  scripts/routing_eval_requests.json
  tests/scripts/test_eval_routing.py
Due: ruff-lint, ruff-format

fix(bench): register the usage counter where CrewAI does not reset it
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
  scripts/bench_flow.py
Due: ruff-lint, ruff-format

fix(scripts): count async LiteLLM calls and harden the routing eval set
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
  scripts/bench_flow.py
  scripts/eval_routing.py
  scripts/routing_eval_requests.json
  tests/scripts/test_bench_flow.py
Due: ruff-lint, ruff-format

perf(routing): pick the crew during extraction; ClassifyCrew only as fallback
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
  src/epic_news/config/routing_guide.py
  src/epic_news/crews/classify/config/tasks.yaml
  src/epic_news/crews/information_extraction/config/tasks.yaml
  src/epic_news/main.py
  src/epic_news/models/extracted_info.py
  tests/crews/test_classify_config.py
  tests/flows/test_reception_flow_e2e.py
  tests/flows/test_routing_single_call.py
Due: ruff-lint, ruff-format, yamllint

test(bench): wait for LiteLLM's threaded sync success handler
  tests/scripts/test_bench_flow.py
Due: ruff-lint, ruff-format

docs(main): classify docstring reflects the extraction fast path
  src/epic_news/main.py
Due: ruff-lint, ruff-format

feat(osint): add cross-reference synthesis mode for comparison
  .env.example
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
  src/epic_news/crews/cross_reference_report_crew/config/synthesis_tasks.yaml
  src/epic_news/crews/cross_reference_report_crew/synthesis_crew.py
  src/epic_news/main.py
  tests/crews/test_cross_reference_synthesis.py
Due: ruff-lint, ruff-format, yamllint

revert(osint): keep the research cross-reference report
  .env.example
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
  src/epic_news/crews/cross_reference_report_crew/config/synthesis_tasks.yaml
  src/epic_news/crews/cross_reference_report_crew/synthesis_crew.py
  src/epic_news/main.py
  tests/crews/test_cross_reference_synthesis.py
Due: ruff-lint, ruff-format, yamllint

fix(osint): save each OSINT report as JSON and clear stale ones per run
  src/epic_news/main.py
  tests/test_osint_parallel_json.py
Due: ruff-lint, ruff-format

fix(llm): never block an event-loop thread waiting for an LLM slot
  src/epic_news/config/llm_config.py
  tests/config/test_llm_concurrency_cap.py
Due: ruff-lint, ruff-format

docs: record the efficiency wave's outcome and refresh stale docs
  CLAUDE.md
  docs/reference/outputs.md
  docs/reference/tools.md
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
  scripts/bench_flow.py
  src/epic_news/crews/CLAUDE.md
  src/epic_news/utils/CLAUDE.md
  src/epic_news/utils/flow_enforcement.py
Due: ruff-lint, ruff-format

fix(llm): bound the wait for an LLM slot so the cap can never hang a run
  .env.example
  CLAUDE.md
  src/epic_news/config/llm_config.py
  tests/config/test_llm_concurrency_cap.py
Due: ruff-lint, ruff-format

fix(pestel): keep the request's subject and require live, recent sources
  src/epic_news/crews/pestel/config/tasks.yaml
  src/epic_news/main.py
  tests/test_generate_pestel_wiring.py
Due: ruff-lint, ruff-format, yamllint

fix(menu): keep the planner's dishes instead of placeholder defaults
  src/epic_news/crews/menu_designer/config/tasks.yaml
  src/epic_news/crews/menu_designer/menu_designer.py
  src/epic_news/utils/menu_plan_validator.py
  tests/utils/test_menu_plan_validator.py
Due: ruff-lint, ruff-format, yamllint

fix(menu): plan the number of days the user asked for
  src/epic_news/crews/menu_designer/config/agents.yaml
  src/epic_news/crews/menu_designer/config/tasks.yaml
  src/epic_news/main.py
  src/epic_news/models/content_state.py
  src/epic_news/services/menu_designer_service.py
  src/epic_news/utils/menu_days.py
  src/epic_news/utils/menu_plan_validator.py
  tests/utils/test_menu_days.py
  tests/utils/test_menu_plan_validator.py
Due: ruff-lint, ruff-format, yamllint

fix(osint): ground the cross-reference report in the target and its sub-reports
  src/epic_news/crews/cross_reference_report_crew/config/tasks.yaml
  src/epic_news/crews/cross_reference_report_crew/cross_reference_report_crew.py
  src/epic_news/main.py
  src/epic_news/models/crews/cross_reference_report.py
  tests/crews/test_cross_reference_report_grounding.py
Due: ruff-lint, ruff-format, yamllint

fix(menu): clamp typed plans to the requested days and never hide placeholder dishes
  src/epic_news/main.py
  src/epic_news/services/menu_designer_service.py
  src/epic_news/utils/menu_days.py
  src/epic_news/utils/menu_plan_validator.py
  tests/services/test_menu_designer_service.py
  tests/utils/test_menu_days.py
Due: ruff-lint, ruff-format
