Repository fjacquet/epic_news: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff lint
        entry: ruff
        args: ["check", "--fix"]
        language: system
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: ruff
        args: ["format"]
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: yamllint
        args: ["-s"]
        language: system
        types: [yaml]

test(flow): cover the kickoff guards (no kickoff method, non-dict async context)
  tests/utils/test_flow_enforcement_retry.py
Due: ruff-lint, ruff-format

chore(infra): one compose file; drop combined and code-interpreter images; trim Makefile (S8)
  .dockerignore
  .env.example
  .github/workflows/docker-publish-code-interpreter.yml
  .github/workflows/docker-publish-combined.yml
  Dockerfile
  Dockerfile.code-interpreter
  Makefile
  docker-compose.api.yml
  docker-compose.combined.yml
  docker-compose.streamlit.yml
  docker-compose.yml
  docs/how-to/development_setup.md
  docs/how-to/docker_deployment.md
  docs/how-to/expose-api-n8n.md
  supervisord.conf
Due: yamllint

fix(docx): narrated sections no longer repeat their heading
  src/epic_news/utils/docx_report/fragments.py
  tests/utils/docx_report/test_fragment_heading.py
Due: ruff-lint, ruff-format

fix(osint): a failed sub-crew stops the run instead of a partial report
  src/epic_news/main.py
  tests/test_osint_parallel_json.py
Due: ruff-lint, ruff-format

fix(shopping): no ShoppingAdviceOutput stops the run instead of returning quietly
  src/epic_news/main.py
  tests/flows/test_generate_shopping_advice_slug.py
Due: ruff-lint, ruff-format

fix(observability): task_start no longer records the step's arguments
  docs/how-to/observability.md
  src/epic_news/utils/observability.py
  tests/utils/test_observability.py
Due: ruff-lint, ruff-format

test: keep the suite's trace files out of the repo's traces/
  tests/conftest.py
  tests/flows/conftest.py
  tests/utils/test_observability.py
Due: ruff-lint, ruff-format

chore: use example.com for the sample meeting participants
  src/epic_news/models/content_state.py
Due: ruff-lint, ruff-format

chore(release): 4.0.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: remove the Langfuse tracing span
  docs/how-to/observability.md
  pyproject.toml
  src/epic_news/utils/CLAUDE.md
  src/epic_news/utils/flow_enforcement.py
  src/epic_news/utils/tracing.py
  uv.lock
Due: ruff-lint, ruff-format

chore(release): 4.0.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none
