Repository fjacquet/epic_news: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, yamllint

ruff-lint:
  name: ruff lint
  entry: ruff
  args:
  - check
  - --fix
  language: system

ruff-format:
  name: ruff format
  entry: ruff
  args:
  - format
  language: system

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - -s
  language: system

chore(release): v3.3.2 — LiteLLM routing fix for CrewAI 1.15 strict schemas
  CHANGELOG.md
  pyproject.toml
  src/epic_news/app.py
  src/epic_news/config/llm_config.py
  src/epic_news/main.py
  tests/crews/test_agent_llm_contract.py
  uv.lock
Due: ruff-lint, ruff-format

fix(html): render book-summary Markdown as HTML (headings, lists, bold, GFM tables)
  CHANGELOG.md
  src/epic_news/utils/html/template_renderers/base_renderer.py
  src/epic_news/utils/html/template_renderers/book_summary_renderer.py
Due: ruff-lint, ruff-format

fix(flow): set output_file to rendered HTML in 6 more flows; normalize reasoning_effort value
  CHANGELOG.md
  src/epic_news/config/llm_config.py
  src/epic_news/main.py
Due: ruff-lint, ruff-format

test(flow): cover output_file wiring for all 7 report-producing flows
  tests/flows/test_generate_output_file.py
Due: ruff-lint, ruff-format

fix: route tech-topic research to DEEPRESEARCH, harden email recipient, render news_daily Markdown
  src/epic_news/crews/classify/config/tasks.yaml
  src/epic_news/main.py
  src/epic_news/models/content_state.py
  src/epic_news/utils/html/template_renderers/news_daily_renderer.py
  src/epic_news/utils/report_utils.py
  tests/crews/test_classify_config.py
  tests/flows/test_generate_output_file.py
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_NEWSDAILY_build_newsdaily_.html
  tests/utils/html/test_daily_news_html.py
  tests/utils/test_report_utils.py
Due: ruff-lint, ruff-format, yamllint

refactor(email): address CodeRabbit review on recipient fallback
  src/epic_news/models/content_state.py
  src/epic_news/utils/report_utils.py
Due: ruff-lint, ruff-format

test(renderers): cover company_profiler, menu, saint, web_presence (batch 1)
  tests/utils/html/test_company_profiler_renderer.py
  tests/utils/html/test_menu_renderer.py
  tests/utils/html/test_saint_renderer.py
  tests/utils/html/test_web_presence_renderer.py
Due: ruff-lint, ruff-format

test(renderers): cover holiday, cooking, osint_global, rss_weekly (batch 2)
  tests/utils/html/test_cooking_renderer.py
  tests/utils/html/test_holiday_plan_html.py
  tests/utils/html/test_osint_global_renderer.py
  tests/utils/html/test_rss_weekly_renderer.py
Due: ruff-lint, ruff-format

test(renderers): cover tech_stack, generic, sales_prospecting, financial (batch 3)
  tests/utils/html/test_financial_renderer.py
  tests/utils/html/test_generic_renderer.py
  tests/utils/html/test_sales_prospecting_renderer.py
  tests/utils/html/test_tech_stack_renderer.py
Due: ruff-lint, ruff-format

test: cover cross_reference, base_renderer, parsing, observability (batch 4)
  tests/utils/diagnostics/test_parsing.py
  tests/utils/html/test_base_renderer.py
  tests/utils/html/test_cooking_html.py
  tests/utils/html/test_cross_reference_report_renderer.py
  tests/utils/test_observability.py
Due: ruff-lint, ruff-format

fix: renderer CSS/name/TOC/XSS bugs + JSON-repair literal mangling (7 categories)
  src/epic_news/utils/diagnostics/parsing.py
  src/epic_news/utils/html/template_renderers/cooking_renderer.py
  src/epic_news/utils/html/template_renderers/cross_reference_report_renderer.py
  src/epic_news/utils/html/template_renderers/financial_renderer.py
  src/epic_news/utils/html/template_renderers/generic_renderer.py
  src/epic_news/utils/html/template_renderers/menu_renderer.py
  src/epic_news/utils/html/template_renderers/osint_global_renderer.py
  src/epic_news/utils/html/template_renderers/poem_renderer.py
  src/epic_news/utils/html/template_renderers/saint_renderer.py
  src/epic_news/utils/html/template_renderers/shopping_renderer.py
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_FINDAILY_build_findaily_.html
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_SHOPPING_build_shopping_.html
  tests/utils/diagnostics/test_parsing.py
  tests/utils/html/test_cooking_html.py
  tests/utils/html/test_cross_reference_report_renderer.py
  tests/utils/html/test_financial_renderer.py
  tests/utils/html/test_generic_renderer.py
  tests/utils/html/test_menu_renderer.py
  tests/utils/html/test_osint_global_renderer.py
  tests/utils/html/test_saint_renderer.py
Due: ruff-lint, ruff-format

refactor(financial_renderer): remove legacy dead-code surface
  src/epic_news/utils/html/template_renderers/financial_renderer.py
  tests/utils/html/test_financial_renderer.py
Due: ruff-lint, ruff-format

fix(shopping_renderer): render the real ShoppingAdviceOutput (was blank in prod)
  src/epic_news/utils/extractors/shopping.py
  src/epic_news/utils/html/template_renderers/shopping_renderer.py
  tests/rendering/test_template_manager_rendering.py
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_SHOPPING_build_shopping_.html
  tests/utils/html/test_shopping_renderer.py
Due: ruff-lint, ruff-format

fix(holiday_planner): run the two async tasks sequentially (async→sync)
  src/epic_news/crews/holiday_planner/holiday_planner_crew.py
Due: ruff-lint, ruff-format

fix(shopping): address CodeRabbit review of #139 (XSS scheme, title, empty-state)
  src/epic_news/utils/html/template_manager.py
  src/epic_news/utils/html/template_renderers/shopping_renderer.py
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_SHOPPING_build_shopping_.html
  tests/utils/html/test_shopping_renderer.py
Due: ruff-lint, ruff-format

chore(release): 3.3.3
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs(spec): design for migrating tools to crewai_custom_tools
  docs/superpowers/specs/2026-07-08-tools-migration-crewai-custom-tools-design.md
Due: none

docs(spec): revise tools-migration design after parity audit
  docs/superpowers/specs/2026-07-08-tools-migration-crewai-custom-tools-design.md
Due: none

docs(plans): add two-workstream tools-migration implementation plans
  docs/superpowers/plans/2026-07-08-crewai-custom-tools-v0.3.0-upstream-fixes.md
  docs/superpowers/plans/2026-07-08-epic-news-tools-migration.md
Due: none

test: fix flaky setup_crew_output_directory assertions
  tests/utils/test_report_utils.py
Due: ruff-lint, ruff-format

build(deps): add crewai-custom-tools v0.3.0 (tools migration Workstream 2)
  pyproject.toml
  uv.lock
Due: none

refactor(tools): source finance-domain tools from crewai_custom_tools
  src/epic_news/crews/fin_daily/fin_daily.py
  src/epic_news/crews/holiday_planner/holiday_planner_crew.py
  src/epic_news/models/alpha_vantage_models.py
  src/epic_news/tools/alpha_vantage_tool.py
  src/epic_news/tools/coinmarketcap_historical_tool.py
  src/epic_news/tools/coinmarketcap_info_tool.py
  src/epic_news/tools/coinmarketcap_list_tool.py
  src/epic_news/tools/coinmarketcap_news_tool.py
  src/epic_news/tools/coinmarketcap_tool.py
  src/epic_news/tools/exchange_rate_tool.py
  src/epic_news/tools/finance_tools.py
  src/epic_news/tools/kraken_api_tool.py
  src/epic_news/tools/yahoo_finance_company_info_tool.py
  src/epic_news/tools/yahoo_finance_etf_holdings_tool.py
  src/epic_news/tools/yahoo_finance_history_tool.py
  src/epic_news/tools/yahoo_finance_news_tool.py
  src/epic_news/tools/yahoo_finance_ticker_info_tool.py
  tests/tools/manual_kraken_test.py
  tests/tools/test_alpha_vantage_tool.py
  tests/tools/test_coinmarketcap_historical_tool.py
  tests/tools/test_coinmarketcap_info_tool.py
  tests/tools/test_coinmarketcap_list_tool.py
  tests/tools/test_coinmarketcap_news_tool.py
  tests/tools/test_coinmarketcap_tool.py
  tests/tools/test_exchange_rate_tool.py
  tests/tools/test_finance_tools.py
  tests/tools/test_json_contract_ratchet.py
  tests/tools/test_kraken_api_tool.py
  tests/tools/test_yahoo_finance_company_info_tool.py
  tests/tools/test_yahoo_finance_etf_holdings_tool.py
  tests/tools/test_yahoo_finance_history_tool.py
  tests/tools/test_yahoo_finance_news_tool.py
  tests/tools/test_yahoo_finance_ticker_info_tool.py
Due: ruff-lint, ruff-format

refactor(tools): source osint/enterprise tools from crewai_custom_tools
  scripts/update_knowledge_base.py
  src/epic_news/tools/accuweather_tool.py
  src/epic_news/tools/airtable_tool.py
  src/epic_news/tools/email_search.py
  src/epic_news/tools/github_org_tool.py
  src/epic_news/tools/github_search_tool.py
  src/epic_news/tools/github_tools.py
  src/epic_news/tools/hunter_io_tool.py
  src/epic_news/tools/rag_tools.py
  src/epic_news/tools/save_to_rag_tool.py
  src/epic_news/tools/serper_email_search_tool.py
  src/epic_news/tools/todoist_tool.py
  tests/tools/test_accuweather_tool.py
  tests/tools/test_airtable_tool.py
  tests/tools/test_email_search.py
  tests/tools/test_github_org_tool.py
  tests/tools/test_github_search_tool.py
  tests/tools/test_hunter_io_tool.py
  tests/tools/test_json_contract_ratchet.py
  tests/tools/test_rag_tools.py
  tests/tools/test_save_to_rag_tool.py
  tests/tools/test_serper_email_search_tool.py
  tests/tools/test_todoist_tool.py
Due: ruff-lint, ruff-format

fix(scripts): repoint fetch_rss_articles to crewai_custom_tools UnifiedRssTool
  scripts/fetch_rss_articles.py
Due: ruff-lint, ruff-format

chore(tools): drop dead code and orphaned infra; rescope JSON ratchet
  src/epic_news/crews/shopping_advisor/config/agents.yaml
  src/epic_news/tools/CLAUDE.md
  src/epic_news/tools/batch_article_scraper_tool.py
  src/epic_news/tools/cache_manager.py
  src/epic_news/tools/custom_tool.py
  src/epic_news/tools/email_base.py
  src/epic_news/tools/github_base.py
  src/epic_news/tools/search_base.py
  tests/tools/test_batch_article_scraper_tool.py
  tests/tools/test_json_contract_ratchet.py
Due: ruff-lint, ruff-format, yamllint

ci(docker): install git so uv can resolve the crewai-custom-tools git-pin
  Dockerfile.api
  Dockerfile.code-interpreter
  Dockerfile.combined
  Dockerfile.streamlit
Due: none

ci(deps): mark migrated tools' runtime backends as intentional (deptry DEP002)
  pyproject.toml
Due: none

test(tools): cover repointed web-search/fact-check/email factories
  tests/tools/test_factory_wiring.py
Due: ruff-lint, ruff-format

chore(models): delete orphaned input-model files for migrated tools
  src/epic_news/models/accuweather_models.py
  src/epic_news/models/airtable_models.py
  src/epic_news/models/alpha_vantage_models.py
  src/epic_news/models/coinmarketcap_models.py
  src/epic_news/models/custom_tool_models.py
  src/epic_news/models/email_search_models.py
  src/epic_news/models/finance_models.py
  src/epic_news/models/github_models.py
  src/epic_news/models/google_fact_check_tool.py
  src/epic_news/models/tavily_models.py
  src/epic_news/models/todoist_models.py
  src/epic_news/models/web_search_models.py
  src/epic_news/models/wikipedia_models.py
  tests/models/test_all_pydantic_models.py
Due: ruff-lint, ruff-format

build(deps): bump crewai-custom-tools to v0.3.1
  pyproject.toml
  uv.lock
Due: none

docs(tools): fix CLAUDE.md categorization + fact-check factory return type
  src/epic_news/tools/CLAUDE.md
  src/epic_news/tools/fact_checking_factory.py
Due: ruff-lint, ruff-format

ci(codecov): add project coverage threshold to tolerate dead-code deletion
  codecov.yml
Due: yamllint

build(deps): unpin yanked pandas 3.0.4, refresh lock
  docs/superpowers/plans/2026-07-04-validate-implementation.md
  pyproject.toml
  uv.lock
Due: none

fix(deep_research): stop shipping placeholder reports and fabricated stats
  src/epic_news/config/composio_config.py
  src/epic_news/crews/cross_reference_report_crew/config/agents.yaml
  src/epic_news/crews/deep_research/config/agents.yaml
  src/epic_news/crews/deep_research/config/tasks.yaml
  src/epic_news/crews/deep_research/deep_research.py
  src/epic_news/crews/fin_daily/config/tasks.yaml
  src/epic_news/crews/fin_daily/fin_daily.py
  src/epic_news/crews/geospatial_analysis/config/agents.yaml
  src/epic_news/crews/hr_intelligence/config/agents.yaml
  src/epic_news/crews/legal_analysis/config/agents.yaml
  src/epic_news/crews/menu_designer/menu_designer.py
  src/epic_news/crews/post/post_crew.py
  src/epic_news/crews/tech_stack/config/agents.yaml
  src/epic_news/crews/web_presence/config/agents.yaml
  src/epic_news/crews/web_presence/web_presence_crew.py
  src/epic_news/main.py
  src/epic_news/models/content_state.py
  src/epic_news/utils/directory_utils.py
  src/epic_news/utils/extractors/deep_research.py
  src/epic_news/utils/flow_enforcement.py
  tests/crews/test_post_crew_send_tools_guard.py
  tests/utils/test_deep_research_extraction_integrity.py
  tests/utils/test_flow_enforcement_retry.py
Due: ruff-lint, ruff-format, yamllint

test(ci): fix CodeQL alerts and raise patch coverage
  src/epic_news/utils/flow_enforcement.py
  tests/crews/test_composio_gmail_error_surfacing.py
  tests/utils/test_deep_research_extraction_integrity.py
Due: ruff-lint, ruff-format

test(flow): cover send_email delivery-honesty branches
  tests/flows/test_send_email_honesty.py
Due: ruff-lint, ruff-format

fix(flow): retry transient errors on the async path too; cache Composio lookup
  .github/workflows/claude-code-review.yml
  src/epic_news/crews/post/post_crew.py
  src/epic_news/utils/flow_enforcement.py
  tests/crews/test_post_crew_send_tools_guard.py
  tests/utils/test_flow_enforcement_retry.py
Due: ruff-lint, ruff-format, yamllint

fix(deep_research): stop promising markdown files no agent can write
  src/epic_news/crews/deep_research/config/tasks.yaml
  src/epic_news/crews/deep_research/deep_research.py
  tests/crews/test_deep_research_capability_contract.py
Due: ruff-lint, ruff-format, yamllint

style(tests): move DeepResearchCrew import to module top
  tests/crews/test_deep_research_capability_contract.py
Due: ruff-lint, ruff-format

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
