Repository fjacquet/epic_news: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, yamllint

ruff-lint:
  name: ruff lint
  entry: ruff
  args:
  - check
  - --fix
  language: system

ruff-format:
  name: ruff format
  entry: ruff
  args:
  - format
  language: system

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - -s
  language: system

fix(docker): copy src before uv sync in the code-interpreter image
  Dockerfile.code-interpreter
Due: none

docs: resync spec and plan with what actually shipped
  docs/superpowers/plans/2026-07-30-docker-build-restructure.md
  docs/superpowers/specs/2026-07-30-docker-build-restructure-design.md
Due: none

chore(release): v3.6.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

bump software
  pyproject.toml
  uv.lock
Due: none

build: fully qualify base image names for Podman
  Dockerfile
  Dockerfile.code-interpreter
Due: none

fix: make Ctrl+C actually stop a flow run
  docs/superpowers/plans/2026-07-12-all-crews-e2e-sweep.md
  docs/sweep-runbook.md
  src/epic_news/config/llm_config.py
  src/epic_news/main.py
  src/epic_news/utils/docx_report/assemble.py
  src/epic_news/utils/docx_report/fragments.py
  src/epic_news/utils/flow_enforcement.py
  src/epic_news/utils/interrupt.py
  tests/config/test_llm_config_empty_retry.py
  tests/config/test_llm_config_routing.py
  tests/config/test_llm_config_tool_calling.py
  tests/utils/docx_report/test_assemble_failure_modes.py
  tests/utils/test_cancellation_propagation.py
  tests/utils/test_interrupt.py
  uv.lock
Due: ruff-lint, ruff-format

chore(release): 3.6.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(security): waive re-keyed chromadb advisories, drop patched ones
  osv-scanner.toml
Due: none

ci: harden the Dependabot auto-merge workflow
  .github/workflows/dependabot-automerge.yml
Due: yamllint

chore(security): waive GHSA-8mgp-746c-j5xp (nltk) until 2026-12-06
  osv-scanner.toml
Due: none

chore(deps): refresh the whole lock with uv lock --upgrade
  uv.lock
Due: none

chore(deps): refresh uv.lock
  uv.lock
Due: none

fix(types): annotate subclass loop var for newer mypy
  src/epic_news/config/llm_config.py
Due: ruff-lint, ruff-format

docs(changelog): record 3.6.2
  CHANGELOG.md
  README.md
Due: none

fix(llm): omit default temperature for gemini models
  src/epic_news/config/llm_config.py
  tests/config/test_llm_config_routing.py
Due: ruff-lint, ruff-format

build(deps): use pypandoc with system pandoc
  pyproject.toml
  uv.lock
Due: none

feat(docx): professional A4 reference template
  scripts/make_reference_docx.py
  src/epic_news/utils/docx_report/reference.docx
  tests/utils/docx_report/test_reference_styles.py
Due: ruff-lint, ruff-format

build: install system pandoc in CI and the runtime image
  .github/workflows/ci.yml
  Dockerfile
Due: yamllint

chore: remove unreachable utility modules and extractors
  scripts/clean_all_reports.py
  scripts/optimize_crews.py
  src/epic_news/utils/content_extractors.py
  src/epic_news/utils/content_extractors.py.bak
  src/epic_news/utils/debug_utils.py
  src/epic_news/utils/extractors/cooking.py
  src/epic_news/utils/extractors/daily_news.py
  src/epic_news/utils/extractors/fin_daily.py
  src/epic_news/utils/extractors/news.py
  src/epic_news/utils/extractors/poem.py
  src/epic_news/utils/extractors/rss_weekly.py
  src/epic_news/utils/extractors/saint.py
  src/epic_news/utils/file_utils.py
  src/epic_news/utils/html/extractor.py
  src/epic_news/utils/html/path.py
  src/epic_news/utils/html/templates.py
  src/epic_news/utils/http.py
  src/epic_news/utils/menu_utils.py
  src/epic_news/utils/path_utils.py
  src/epic_news/utils/rss_weekly_converter.py
  src/epic_news/utils/task_orchestration.py
  tests/tools/test_http_resilience.py
  tests/utils/html/test_extractor.py
  tests/utils/html/test_path.py
  tests/utils/html/test_templates.py
  tests/utils/test_content_extractors.py
  tests/utils/test_diagnostics.py
  tests/utils/test_file_utils.py
  tests/utils/test_menu_utils.py
  tests/utils/test_path_utils.py
  tests/utils/test_rss_weekly_converter.py
  tests/utils/test_task_orchestration.py
Due: ruff-lint, ruff-format

chore: remove one-off scripts and disabled test files
  scripts/debug_holiday_plan_html.py
  scripts/debug_rss_html.py
  scripts/fix_cooking_files.py
  scripts/fix_html_reports.py
  scripts/fix_imports.py
  scripts/fix_meal_plan_mapping.py
  scripts/fix_output_naming_consistency.py
  scripts/fix_paprika_friendly_system.py
  tests/utils/html/test_meeting_prep_html.py.invalid
  tests/utils/html/test_menu_html.py.invalid
  tests/utils/html/test_poem_html.py.invalid
  tests/utils/html/test_recipe_html.py.invalid
  tests/utils/html/test_saint_html.py.invalid
  tests/utils/html/test_shopping_advice_html.py.invalid
Due: ruff-lint, ruff-format

chore: drop unused ComposioConfig loaders
  src/epic_news/config/composio_config.py
  tests/crews/test_composio_gmail_error_surfacing.py
Due: ruff-lint, ruff-format

chore: remove unreachable report models
  src/epic_news/models/crews/deep_research_academic.py
  src/epic_news/models/html_output.py
  src/epic_news/models/report.py
  tests/models/test_all_pydantic_models.py
Due: ruff-lint, ruff-format

chore: remove unreachable tool modules
  src/epic_news/tools/coinmarketcap_tool.py
  src/epic_news/tools/email_search.py
  src/epic_news/tools/fact_checking_factory.py
  src/epic_news/tools/html_generator_tool.py
  src/epic_news/tools/rag_tools.py
  src/epic_news/tools/reporting_tool.py
  src/epic_news/tools/universal_report_tool.py
  src/epic_news/tools/utility_tools.py
  src/epic_news/tools/web_search_factory.py
  tests/tools/test_coinmarketcap_tool.py
  tests/tools/test_factory_wiring.py
  tests/tools/test_json_contract_ratchet.py
  tests/tools/test_rag_tools.py
  tests/tools/test_reporting_tool.py
Due: ruff-lint, ruff-format

chore: remove unused RAG knowledge-base store
  Makefile
  bin/update_kb.sh
  osv-scanner.toml
  scripts/update_knowledge_base.py
  src/epic_news/rag_config.py
  tests/scripts/test_update_knowledge_base.py
  tests/scripts/test_update_knowledge_base_script.py
  tests/test_rag_config.py
  tests/utils/context_managers.py
Due: ruff-lint, ruff-format

chore: remove unused post and reception crews
  src/epic_news/crews/post/config/agents.yaml
  src/epic_news/crews/post/config/tasks.yaml
  src/epic_news/crews/post/post_crew.py
  src/epic_news/crews/reception/config/agents.yaml
  src/epic_news/crews/reception/config/tasks.yaml
  src/epic_news/crews/reception/reception_crew.py
  src/epic_news/models/crews/post_result.py
  src/epic_news/models/crews/routing_result.py
  tests/crews/_registry.py
  tests/crews/test_composio_gmail_error_surfacing.py
  tests/crews/test_post_crew_send_tools_guard.py
Due: ruff-lint, ruff-format, yamllint

chore: remove dead holiday HTML rendering path
  src/epic_news/models/content_state.py
  src/epic_news/models/crews/holiday_planner_report.py
  src/epic_news/utils/diagnostics/parsing.py
  src/epic_news/utils/html/template_renderers/holiday_renderer.py
  src/epic_news/utils/html/template_renderers/renderer_factory.py
  tests/models/test_crew_report_models.py
  tests/scripts/regenerate_holiday_plan.py
  tests/utils/diagnostics/test_parsing.py
  tests/utils/html/test_holiday_plan_html.py
Due: ruff-lint, ruff-format

build: tidy pyproject metadata and drop redundant direct deps
  pyproject.toml
  uv.lock
Due: none

chore: remove commented-out code flagged by ERA001
  src/epic_news/crews/deep_research/config/agents.yaml
  src/epic_news/crews/deep_research/config/tasks.yaml
  src/epic_news/crews/deep_research/deep_research.py
  src/epic_news/crews/news_daily/news_daily.py
  src/epic_news/main.py
  src/epic_news/utils/menu_generator.py
  src/epic_news/utils/observability.py
  src/epic_news/utils/tool_logging.py
Due: ruff-lint, ruff-format, yamllint

chore: remove unused functions, methods and models
  src/epic_news/config/ui_theme.py
  src/epic_news/models/crews/menu_designer_report.py
  src/epic_news/models/crews/news_daily_report.py
  src/epic_news/models/rss_models.py
  src/epic_news/services/menu_designer_service.py
  src/epic_news/tools/finance_tools.py
  src/epic_news/utils/data_normalization.py
  src/epic_news/utils/html/template_renderers/renderer_factory.py
  src/epic_news/utils/logger.py
  src/epic_news/utils/observability.py
  src/epic_news/utils/report_utils.py
  src/epic_news/utils/tracing.py
  tests/models/test_all_pydantic_models.py
  tests/tools/test_finance_tools.py
  tests/utils/html/template_renderers/test_renderer_factory.py
  tests/utils/test_logger.py
  tests/utils/test_report_utils.py
Due: ruff-lint, ruff-format

chore: remove unreferenced HTML templates
  templates/cross_reference_report_template.html
  templates/professional_report_template.html
Due: none

test: move meeting prep renderer smoke test under tests/
  pyproject.toml
  tests/rendering/test_meeting_prep_renderer_smoke.py
Due: ruff-lint, ruff-format

fix(llm): make LLMConfig settings actually reach litellm.completion
  src/epic_news/config/llm_config.py
  tests/config/test_llm_config_completion_params.py
Due: ruff-lint, ruff-format

docs(flow): correct per-call LLM timeout in transient-error note
  src/epic_news/utils/flow_enforcement.py
Due: ruff-lint, ruff-format

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
