Repository fjacquet/epic_news: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff lint
        entry: ruff
        args: ["check", "--fix"]
        language: system
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: ruff
        args: ["format"]
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: yamllint
        args: ["-s"]
        language: system
        types: [yaml]

fix(rendering): render agent Markdown in deep_research reports
  src/epic_news/utils/html/template_renderers/base_renderer.py
  src/epic_news/utils/html/template_renderers/deep_research_renderer.py
  tests/rendering/test_deep_research_markdown_rendering.py
Due: ruff-lint, ruff-format

test(rendering): harden the XSS guard CodeQL flagged
  tests/rendering/test_deep_research_markdown_rendering.py
Due: ruff-lint, ruff-format

fix(rendering): render agent Markdown across all renderers
  src/epic_news/utils/html/template_renderers/base_renderer.py
  src/epic_news/utils/html/template_renderers/book_summary_renderer.py
  src/epic_news/utils/html/template_renderers/company_news_renderer.py
  src/epic_news/utils/html/template_renderers/company_profiler_renderer.py
  src/epic_news/utils/html/template_renderers/cooking_renderer.py
  src/epic_news/utils/html/template_renderers/cross_reference_report_renderer.py
  src/epic_news/utils/html/template_renderers/deep_research_renderer.py
  src/epic_news/utils/html/template_renderers/financial_renderer.py
  src/epic_news/utils/html/template_renderers/generic_renderer.py
  src/epic_news/utils/html/template_renderers/geospatial_analysis_renderer.py
  src/epic_news/utils/html/template_renderers/holiday_renderer.py
  src/epic_news/utils/html/template_renderers/hr_intelligence_renderer.py
  src/epic_news/utils/html/template_renderers/legal_analysis_renderer.py
  src/epic_news/utils/html/template_renderers/meeting_prep_renderer.py
  src/epic_news/utils/html/template_renderers/menu_renderer.py
  src/epic_news/utils/html/template_renderers/osint_global_renderer.py
  src/epic_news/utils/html/template_renderers/pestel_renderer.py
  src/epic_news/utils/html/template_renderers/rss_weekly_renderer.py
  src/epic_news/utils/html/template_renderers/saint_renderer.py
  src/epic_news/utils/html/template_renderers/shopping_renderer.py
  src/epic_news/utils/html/template_renderers/tech_stack_renderer.py
  src/epic_news/utils/html/template_renderers/web_presence_renderer.py
  tests/rendering/test_all_renderers_markdown_contract.py
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_FINDAILY_build_findaily_.html
Due: ruff-lint, ruff-format

fix(email): send reports deterministically instead of via an LLM agent
  src/epic_news/main.py
  src/epic_news/utils/email_sender.py
  src/epic_news/utils/report_utils.py
  tests/flows/test_send_email_honesty.py
  tests/utils/test_email_sender.py
  tests/utils/test_report_html_resolution.py
  tests/utils/test_report_utils.py
Due: ruff-lint, ruff-format

chore(release): v3.3.4
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(deep_research): stop a single LLM omission from failing the whole run
  src/epic_news/crews/deep_research/config/tasks.yaml
  src/epic_news/models/crews/deep_research_report.py
  tests/models/test_deep_research_report_resilience.py
Due: ruff-lint, ruff-format, yamllint

chore(release): v3.3.5
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: spec for prompt enrichment in InformationExtractionCrew
  docs/superpowers/specs/2026-07-11-prompt-enrichment-design.md
Due: none

docs: implementation plan for prompt enrichment
  docs/superpowers/plans/2026-07-11-prompt-enrichment.md
Due: none

feat(state): add enriched_brief and surface it as downstream context
  src/epic_news/models/content_state.py
  tests/models/test_content_state_enriched_context.py
Due: ruff-lint, ruff-format

feat(extraction): enrich the request before extracting structured fields
  src/epic_news/crews/information_extraction/config/agents.yaml
  src/epic_news/crews/information_extraction/config/tasks.yaml
  src/epic_news/crews/information_extraction/information_extraction_crew.py
  tests/crews/test_information_extraction_enrich.py
Due: ruff-lint, ruff-format, yamllint

feat(flow): capture the enriched brief into state during extraction
  src/epic_news/main.py
  tests/flows/test_extract_info_enriched_brief.py
Due: ruff-lint, ruff-format

fix(flow): don't email the classifier decision as a holiday report
  src/epic_news/main.py
  tests/flows/test_holiday_no_destination.py
Due: ruff-lint, ruff-format

fix(holiday_planner): remove tools from the reporter agent
  src/epic_news/crews/holiday_planner/holiday_planner_crew.py
  tests/crews/test_holiday_reporter_no_tools.py
Due: ruff-lint, ruff-format

fix(extraction): handle multi-stop trips and stop the preferences repetition
  src/epic_news/crews/information_extraction/config/tasks.yaml
  src/epic_news/main.py
  tests/flows/test_holiday_no_destination.py
Due: ruff-lint, ruff-format, yamllint

fix(state): cap crew free-text inputs and prefer the enriched brief
  src/epic_news/models/content_state.py
  tests/models/test_content_state_enriched_context.py
Due: ruff-lint, ruff-format

fix(crews): disable agent reasoning and remove flow memory
  .serena/project.yml
  src/epic_news/crews/company_news/company_news_crew.py
  src/epic_news/crews/company_profiler/company_profiler_crew.py
  src/epic_news/crews/cross_reference_report_crew/cross_reference_report_crew.py
  src/epic_news/crews/deep_research/deep_research.py
  src/epic_news/crews/geospatial_analysis/geospatial_analysis_crew.py
  src/epic_news/crews/holiday_planner/holiday_planner_crew.py
  src/epic_news/crews/hr_intelligence/hr_intelligence_crew.py
  src/epic_news/crews/legal_analysis/legal_analysis_crew.py
  src/epic_news/crews/meeting_prep/meeting_prep_crew.py
  src/epic_news/crews/menu_designer/menu_designer.py
  src/epic_news/crews/news_daily/news_daily.py
  src/epic_news/crews/pestel/pestel_crew.py
  src/epic_news/crews/sales_prospecting/sales_prospecting_crew.py
  src/epic_news/crews/tech_stack/tech_stack_crew.py
  src/epic_news/crews/web_presence/web_presence_crew.py
  src/epic_news/main.py
Due: ruff-lint, ruff-format, yamllint

fix(state): cap the enriched brief before it reaches crews via context
  CLAUDE.md
  src/epic_news/models/content_state.py
Due: ruff-lint, ruff-format

chore(deps): refresh uv.lock
  uv.lock
Due: none

chore(release): v3.4.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(holiday): fail-fast on timeout, bound crew context, stop menu state leak
  src/epic_news/crews/holiday_planner/holiday_planner_crew.py
  src/epic_news/models/content_state.py
  src/epic_news/utils/flow_enforcement.py
  tests/models/test_content_state_crew_inputs.py
  tests/utils/test_flow_enforcement_retry.py
Due: ruff-lint, ruff-format

feat(flow): capture full traceback when kickoff fails
  src/epic_news/main.py
Due: ruff-lint, ruff-format

docs(holiday): spec + plan for fragment-based DOCX report
  docs/superpowers/plans/2026-07-12-holiday-report-fragments-docx.md
  docs/superpowers/specs/2026-07-12-holiday-report-fragments-docx-design.md
Due: none

build(holiday): add pypandoc-binary for DOCX report generation
  pyproject.toml
  tests/utils/holiday_report/test_pandoc_available.py
  uv.lock
Due: ruff-lint, ruff-format

feat(holiday): deterministic Markdown fragments -> DOCX builder
  src/epic_news/utils/holiday_report/__init__.py
  src/epic_news/utils/holiday_report/docx_builder.py
  tests/utils/__init__.py
  tests/utils/holiday_report/__init__.py
  tests/utils/holiday_report/test_docx_builder.py
Due: ruff-lint, ruff-format

feat(holiday): itinerary skeleton generator with deterministic fallback
  src/epic_news/models/holiday_report.py
  src/epic_news/utils/holiday_report/skeleton.py
  tests/utils/holiday_report/test_skeleton.py
Due: ruff-lint, ruff-format

feat(holiday): bounded Markdown fragment generator with placeholder fallback
  src/epic_news/utils/holiday_report/fragments.py
  tests/utils/holiday_report/test_fragments.py
Due: ruff-lint, ruff-format

feat(holiday): assemble research outputs into fragment-based DOCX
  src/epic_news/utils/holiday_report/__init__.py
  src/epic_news/utils/holiday_report/assemble.py
  tests/utils/holiday_report/test_assemble.py
Due: ruff-lint, ruff-format

refactor(holiday): drop giant format task; crew is research-only
  src/epic_news/crews/holiday_planner/config/tasks.yaml
  src/epic_news/crews/holiday_planner/holiday_planner_crew.py
  tests/crews/test_holiday_planner_structure.py
  tests/crews/test_holiday_reporter_no_tools.py
Due: ruff-lint, ruff-format, yamllint

feat(holiday): generate DOCX travel guide from fragments and attach it
  src/epic_news/main.py
  tests/flows/test_generate_holiday_plan_docx.py
  tests/flows/test_generate_output_file.py
  tests/flows/test_holiday_no_destination.py
Due: ruff-lint, ruff-format

fix(email): attach binary DOCX reports instead of reading them as the body
  src/epic_news/main.py
  src/epic_news/utils/report_utils.py
  tests/utils/test_prepare_email_params_binary.py
Due: ruff-lint, ruff-format

test(email): cover send_email binary DOCX body fallback
  tests/flows/test_send_email_binary_report.py
Due: ruff-lint, ruff-format

chore(holiday): cap itinerary days, drop dead config, pin python-docx dev dep
  pyproject.toml
  src/epic_news/crews/holiday_planner/config/agents.yaml
  src/epic_news/utils/holiday_report/assemble.py
  tests/utils/holiday_report/test_assemble.py
  uv.lock
Due: ruff-lint, ruff-format, yamllint

fix(holiday): stop pandoc reading `---` separators as YAML metadata
  src/epic_news/utils/holiday_report/docx_builder.py
  tests/utils/holiday_report/test_docx_builder.py
Due: ruff-lint, ruff-format

fix(llm): don't apply native-Anthropic message workaround on OpenRouter
  src/epic_news/config/llm_config.py
  tests/config/__init__.py
  tests/config/test_llm_config_anthropic_openrouter.py
Due: ruff-lint, ruff-format

feat(llm): route native providers off OpenRouter and force ReAct tool-calling
  src/epic_news/config/llm_config.py
  tests/config/test_llm_config_routing.py
  tests/config/test_llm_config_tool_calling.py
Due: ruff-lint, ruff-format

build(deps): add crewai[google-genai] extra for native Gemini
  pyproject.toml
  uv.lock
Due: none

docs(sweep): design for all-crews end-to-end verification
  docs/superpowers/specs/2026-07-12-all-crews-e2e-verification-sweep-design.md
Due: none

docs(sweep): drop POEM; approved scope is 15 flows (14 to verify)
  docs/superpowers/specs/2026-07-12-all-crews-e2e-verification-sweep-design.md
Due: none

docs(sweep): implementation plan for all-crews e2e verification
  docs/superpowers/plans/2026-07-12-all-crews-e2e-sweep.md
Due: none
