Repository fjacquet/epic_news: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff lint
        entry: ruff
        args: ["check", "--fix"]
        language: system
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: ruff
        args: ["format"]
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: yamllint
        args: ["-s"]
        language: system
        types: [yaml]

docs(env): document Gemini key, reasoning and OpenRouter attribution
  .env.example
Due: none

fix(llm): back off between empty-response retries, default 2
  src/epic_news/config/llm_config.py
  tests/config/test_llm_config_empty_retry.py
  tests/config/test_llm_config_tool_call_coercion.py
Due: ruff-lint, ruff-format

fix(docx): run pandoc with --sandbox
  src/epic_news/utils/docx_report/docx_builder.py
  tests/utils/holiday_report/test_docx_builder.py
Due: ruff-lint, ruff-format

fix(tools): confine HtmlToPdfTool to output/ and block remote fetches
  src/epic_news/tools/html_to_pdf_tool.py
  tests/tools/test_html_to_pdf_tool.py
Due: ruff-lint, ruff-format

fix(docker): publish API and Streamlit ports on localhost only
  .env.example
  docker-compose.api.yml
  docker-compose.combined.yml
  docker-compose.streamlit.yml
  docker-compose.yml
Due: yamllint

fix(api): require bearer token on /kickoff and cap concurrency
  src/epic_news/api.py
  tests/test_api.py
Due: ruff-lint, ruff-format

fix(streamlit): per-session log sink and sanitized HTML fallback
  src/epic_news/app.py
  tests/test_app.py
Due: ruff-lint, ruff-format

fix(html): escape untrusted text and sanitize RSS summaries
  pyproject.toml
  src/epic_news/tools/data_centric_tools.py
  src/epic_news/utils/html/template_manager.py
  src/epic_news/utils/html/template_renderers/rss_weekly_renderer.py
  tests/tools/test_data_centric_autoescape.py
  tests/utils/html/test_rss_weekly_renderer.py
  tests/utils/html/test_template_manager_escaping.py
  uv.lock
Due: ruff-lint, ruff-format

style: ruff format and mypy fixes for the hardening changes
  src/epic_news/api.py
  src/epic_news/app.py
  src/epic_news/tools/data_centric_tools.py
  src/epic_news/tools/html_to_pdf_tool.py
  tests/tools/test_data_centric_autoescape.py
Due: ruff-lint, ruff-format

fix(tools): resolve HtmlToPdfTool output root like render_and_write_html
  src/epic_news/tools/html_to_pdf_tool.py
Due: ruff-lint, ruff-format

docs(how-to): expose the API to n8n with a bearer token
  docs/how-to/expose-api-n8n.md
  mkdocs.yml
Due: yamllint

fix(mcp): run locked wikipedia-mcp from the venv, drop unused servers
  docs/how-to/mcp_setup.md
  src/epic_news/config/mcp_config.py
  tests/config/test_mcp_config.py
Due: ruff-lint, ruff-format

fix(flow): keep generated report paths inside output/
  src/epic_news/main.py
  src/epic_news/utils/flow_helpers.py
  tests/flows/test_generate_shopping_advice_slug.py
  tests/utils/test_flow_helpers.py
Due: ruff-lint, ruff-format

ci: gate Dependabot auto-merge on semver and pin third-party actions
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/docker-publish-api.yml
  .github/workflows/docker-publish-code-interpreter.yml
  .github/workflows/docker-publish-combined.yml
  .github/workflows/docker-publish-streamlit.yml
  .github/workflows/security.yml
Due: yamllint

ci: fix yamllint comment spacing in dependabot-automerge
  .github/workflows/dependabot-automerge.yml
Due: yamllint

fix(docx): replace pandoc --sandbox with a two-pass image allowlist
  src/epic_news/utils/docx_report/docx_builder.py
  src/epic_news/utils/docx_report/safe_images.lua
  tests/utils/holiday_report/test_docx_builder.py
Due: ruff-lint, ruff-format

fix(docx): drop horizontal rules from DOCX reports
  src/epic_news/utils/docx_report/docx_builder.py
  src/epic_news/utils/docx_report/strip_rules.lua
  tests/utils/holiday_report/test_docx_builder.py
Due: ruff-lint, ruff-format

feat(llm): default to Gemini 3.8 Flash on the native route
  .env.example
  src/epic_news/config/llm_config.py
  tests/config/test_llm_config_default_model.py
Due: ruff-lint, ruff-format

fix(crews): give research agents only the tools their tasks use
  src/epic_news/crews/company_profiler/company_profiler_crew.py
  src/epic_news/crews/cross_reference_report_crew/cross_reference_report_crew.py
  src/epic_news/crews/deep_research/deep_research.py
  src/epic_news/crews/fin_daily/fin_daily.py
  src/epic_news/crews/geospatial_analysis/geospatial_analysis_crew.py
  src/epic_news/crews/hr_intelligence/hr_intelligence_crew.py
  src/epic_news/crews/legal_analysis/legal_analysis_crew.py
  src/epic_news/crews/library/library_crew.py
  src/epic_news/crews/meeting_prep/meeting_prep_crew.py
  src/epic_news/crews/menu_designer/menu_designer.py
  src/epic_news/crews/news_daily/news_daily.py
  src/epic_news/crews/sales_prospecting/sales_prospecting_crew.py
  src/epic_news/crews/tech_stack/tech_stack_crew.py
  src/epic_news/crews/web_presence/web_presence_crew.py
  src/epic_news/tools/output_file_read_tool.py
  tests/crews/test_agent_settings_contract.py
  tests/tools/test_output_file_read_tool.py
Due: ruff-lint, ruff-format

fix(crews): pass timeout via LLM task_type and cap agents with max_iter
  src/epic_news/crews/classify/classify_crew.py
  src/epic_news/crews/company_news/company_news_crew.py
  src/epic_news/crews/company_profiler/company_profiler_crew.py
  src/epic_news/crews/cooking/cooking_crew.py
  src/epic_news/crews/cross_reference_report_crew/cross_reference_report_crew.py
  src/epic_news/crews/deep_research/deep_research.py
  src/epic_news/crews/fin_daily/fin_daily.py
  src/epic_news/crews/geospatial_analysis/geospatial_analysis_crew.py
  src/epic_news/crews/holiday_planner/holiday_planner_crew.py
  src/epic_news/crews/hr_intelligence/hr_intelligence_crew.py
  src/epic_news/crews/information_extraction/information_extraction_crew.py
  src/epic_news/crews/legal_analysis/legal_analysis_crew.py
  src/epic_news/crews/library/library_crew.py
  src/epic_news/crews/meeting_prep/meeting_prep_crew.py
  src/epic_news/crews/menu_designer/menu_designer.py
  src/epic_news/crews/news_daily/news_daily.py
  src/epic_news/crews/pestel/pestel_crew.py
  src/epic_news/crews/poem/poem_crew.py
  src/epic_news/crews/rss_weekly/rss_weekly_crew.py
  src/epic_news/crews/saint_daily/saint_daily.py
  src/epic_news/crews/sales_prospecting/sales_prospecting_crew.py
  src/epic_news/crews/shopping_advisor/shopping_advisor.py
  src/epic_news/crews/tech_stack/tech_stack_crew.py
  src/epic_news/crews/web_presence/web_presence_crew.py
  tests/crews/test_constructor_kwargs.py
Due: ruff-lint, ruff-format

refactor(crews): use CrewBase-managed Wikipedia MCP adapter
  src/epic_news/config/mcp_config.py
  src/epic_news/crews/deep_research/deep_research.py
  src/epic_news/crews/pestel/pestel_crew.py
  src/epic_news/main.py
  tests/crews/test_wikipedia_mcp_lifecycle.py
Due: ruff-lint, ruff-format

refactor(tools): delete report/data-centric tool factories no agent uses
  src/epic_news/models/data_metrics.py
  src/epic_news/models/report_models.py
  src/epic_news/tools/data_centric_tools.py
  src/epic_news/tools/render_report_tool.py
  src/epic_news/tools/report_tools.py
  tests/models/test_all_pydantic_models.py
  tests/tools/test_data_centric_autoescape.py
  tests/tools/test_json_contract_ratchet.py
  tests/tools/test_json_outputs.py
  tests/tools/test_render_report_tool.py
Due: ruff-lint, ruff-format

fix(config): raise CREW_MAX_ITER default to 15, give stock analyst 30
  .env.example
  src/epic_news/config/llm_config.py
  src/epic_news/crews/fin_daily/fin_daily.py
  tests/config/test_llm_config_crew_limits.py
  tests/crews/test_agent_settings_contract.py
Due: ruff-lint, ruff-format

fix(flow): stop the Wikipedia MCP server when crew kickoff fails
  src/epic_news/config/mcp_config.py
  src/epic_news/main.py
  tests/config/test_mcp_config.py
  tests/crews/test_wikipedia_mcp_lifecycle.py
  tests/test_generate_deep_research_mcp_cleanup.py
  tests/test_generate_pestel_wiring.py
Due: ruff-lint, ruff-format

build: drop jinja2 direct dependency
  pyproject.toml
  uv.lock
Due: none

chore: remove unused HtmlToPdfTool and WeasyPrint
  Dockerfile
  Makefile
  bin/run_tests_with_coverage.sh
  docs/how-to/docker_deployment.md
  pyproject.toml
  src/epic_news/main.py
  src/epic_news/tools/html_to_pdf_tool.py
  src/epic_news/utils/tool_logging.py
  tests/tools/test_html_to_pdf_tool.py
  tests/tools/test_json_contract_ratchet.py
  uv.lock
Due: ruff-lint, ruff-format

docs: fix root CLAUDE.md MCP, Composio, LLM and API guidance
  CLAUDE.md
Due: none

docs: update crews CLAUDE.md for current CrewAI conventions
  src/epic_news/crews/CLAUDE.md
Due: none

docs: rewrite utils CLAUDE.md from the real code
  src/epic_news/utils/CLAUDE.md
  src/epic_news/utils/html/template_manager.py
Due: ruff-lint, ruff-format

docs: fix how-to and output guides for removed crews and helpers
  docs/how-to/composio_setup.md
  docs/how-to/development_setup.md
  docs/how-to/mcp_setup.md
  docs/how-to/observability.md
  docs/how-to/troubleshooting.md
  docs/reference/outputs.md
Due: none

docs: state the Gemini temperature and reasoning defaults precisely
  CLAUDE.md
Due: none

docs: sync tools CLAUDE.md with the remaining tool modules
  src/epic_news/tools/CLAUDE.md
Due: none

docs: align tutorial, error guide and references with current APIs
  docs/explanations/architecture.md
  docs/reference/RENDERING_ARCHITECTURE.md
  docs/reference/tools.md
  docs/troubleshooting/COMMON_ERRORS.md
  docs/tutorials/getting_started.md
Due: none

docs: fix case-mismatched links to COMMON_ERRORS and RENDERING_ARCHITECTURE
  docs/how-to/index.md
  docs/index.md
  docs/reference/api_keys.md
  docs/reference/index.md
  docs/troubleshooting/index.md
Due: none

docs: update CLAUDE.md files for the crew-settings, security and model PRs
  CLAUDE.md
  src/epic_news/crews/CLAUDE.md
  src/epic_news/tools/CLAUDE.md
  src/epic_news/utils/CLAUDE.md
Due: none

docs(adr): record API, DOCX, output-boundary and model decisions
  docs/adr/ADR-001-mistral-small-4.md
  docs/adr/ADR-005-deterministic-html-rendering.md
  docs/adr/ADR-006-realtime-retrieval.md
  docs/adr/ADR-012-api-exposure-bearer-token.md
  docs/adr/ADR-013-docx-system-pandoc-image-allowlist.md
  docs/adr/ADR-015-output-trust-boundary.md
  docs/adr/ADR-016-gemini-3-8-flash-default-model.md
Due: none

docs: update live docs for the default model, MCP lifecycle and removed PDF export
  docs/how-to/docker_deployment.md
  docs/how-to/mcp_setup.md
  docs/how-to/troubleshooting.md
  docs/index.md
  docs/reference/api_keys.md
  docs/reference/tools.md
  docs/troubleshooting/COMMON_ERRORS.md
Due: none

docs(adr): add ADR-014 crew settings contract and refresh ADR-013/015/016
  docs/adr/ADR-013-docx-system-pandoc-image-allowlist.md
  docs/adr/ADR-014-crew-settings-contract.md
  docs/adr/ADR-015-output-trust-boundary.md
  docs/adr/ADR-016-gemini-3-8-flash-default-model.md
Due: none

docs(tools): drop HtmlToPdfTool mention from OutputFileReadTool comment
  src/epic_news/tools/output_file_read_tool.py
Due: ruff-lint, ruff-format

docs(specs): draft efficiency and simplification wave designs
  docs/superpowers/specs/2026-10-04-efficiency-wave-design.md
  docs/superpowers/specs/2026-10-04-simplification-wave-design.md
Due: none
