Repository fjacquet/epic_news: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, yamllint

ruff-lint:
  name: ruff lint
  entry: ruff
  args:
  - check
  - --fix
  language: system

ruff-format:
  name: ruff format
  entry: ruff
  args:
  - format
  language: system

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - -s
  language: system

security updates
  .serena/project.yml
  uv.lock
Due: yamllint

upgrade patch
  uv.lock
Due: none

upgrade
  .serena/project.yml
  uv.lock
Due: yamllint

chore: update uv.lock with dependency upgrades
  uv.lock
Due: none

security bump
  .serena/project.yml
  uv.lock
Due: yamllint

sec update
  uv.lock
Due: none

fix(ci): fix Labeler and Claude Code Review workflow failures
  .github/workflows/claude-code-review.yml
  .github/workflows/label.yml
Due: yamllint

chore(ci): upgrade GitHub Actions to Node.js 24-compatible versions
  .github/workflows/ci.yml
  .github/workflows/docker-publish-api.yml
  .github/workflows/docker-publish-code-interpreter.yml
  .github/workflows/docker-publish-combined.yml
  .github/workflows/docker-publish-streamlit.yml
  .github/workflows/greetings.yml
  .serena/project.yml
  pyproject.toml
  uv.lock
Due: yamllint

chore(deps): upgrade uv.lock with latest dependency versions
  uv.lock
Due: none

fix(ci): fix Greetings and Labeler workflow failures
  .github/workflows/greetings.yml
  .github/workflows/label.yml
Due: yamllint

feat: Epic News v2.0 migration — LLM, search, memory, theme, docs
  .env.example
  CHANGELOG.md
  CLAUDE.md
  docs/adr/ADR-001-mistral-small-4.md
  docs/adr/ADR-002-scoped-memory.md
  docs/adr/ADR-003-perplexity-search.md
  docs/adr/ADR-004-flow-orchestration.md
  docs/adr/ADR-005-deterministic-html-rendering.md
  docs/adr/ADR-006-realtime-retrieval.md
  docs/adr/ADR-007-json-tool-standardization.md
  docs/adr/ADR-008-pydantic-model-first.md
  docs/adr/ADR-009-composio-integration.md
  docs/adr/ADR-010-uv-package-manager.md
  docs/prd/PRD-federated-html.md
  pyproject.toml
  src/epic_news/config/llm_config.py
  src/epic_news/config/ui_theme.py
  src/epic_news/crews/deep_research/config/agents.yaml
  src/epic_news/crews/deep_research/deep_research.py
  src/epic_news/crews/fin_daily/fin_daily.py
  src/epic_news/crews/holiday_planner/config/agents.yaml
  src/epic_news/crews/meeting_prep/meeting_prep_crew.py
  src/epic_news/main.py
  src/epic_news/tools/data_centric_tools.py
  src/epic_news/tools/web_search_factory.py
  src/epic_news/tools/web_tools.py
  src/epic_news/utils/html/template_manager.py
  templates/universal_report_template.html
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_FINDAILY_build_findaily_.html
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_NEWSDAILY_build_newsdaily_.html
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_SHOPPING_build_shopping_.html
  tests/tools/test_web_tools.py
  uv.lock
Due: ruff-lint, ruff-format, yamllint

refactor: migrate str+Enum to StrEnum (Python 3.13)
  src/epic_news/models/crews/menu_designer_report.py
  src/epic_news/models/data_metrics.py
  src/epic_news/tools/geoapify_places_tool.py
  src/epic_news/tools/wikipedia_article_tool.py
  src/epic_news/tools/wikipedia_processing_tool.py
Due: ruff-lint, ruff-format

fix(deps): add missing pytest-regressions dev dependency
  pyproject.toml
  uv.lock
Due: none

fix: resolve yamllint and mypy pre-commit hook failures
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/docker-publish-api.yml
  .github/workflows/label.yml
  .yamllint.yml
  docker-compose.yml
  src/epic_news/crews/company_news/config/agents.yaml
  src/epic_news/crews/company_news/config/tasks.yaml
  src/epic_news/crews/cross_reference_report_crew/config/tasks.yaml
  src/epic_news/crews/deep_research/config/agents.yaml
  src/epic_news/crews/deep_research/config/tasks.yaml
  src/epic_news/crews/fin_daily/config/agents.yaml
  src/epic_news/main.py
  src/epic_news/utils/html/template_renderers/osint_global_renderer.py
  src/epic_news/utils/llm_retry.py
  tests/tools/test_github_org_tool.py
Due: ruff-lint, ruff-format, yamllint

fix: address CodeRabbit PR review feedback
  .github/dependabot.yml
  .github/workflows/ci.yml
  src/epic_news/tools/web_search_factory.py
Due: ruff-lint, ruff-format, yamllint

update
  uv.lock
Due: none

chore(deps): bump requests from 2.32.x to >=2.33.0 (CVE-2026-25645)
  pyproject.toml
  uv.lock
Due: none

chore(deps): security bump for transitive dependencies
  uv.lock
Due: none

chore(security): bump deps to address 6 dependabot alerts
  uv.lock
Due: none

feat(pestel): add PESTEL crew + fix entity/language/geography routing
  pyproject.toml
  src/epic_news/config/mcp_config.py
  src/epic_news/crews/classify/config/tasks.yaml
  src/epic_news/crews/information_extraction/config/tasks.yaml
  src/epic_news/crews/pestel/config/agents.yaml
  src/epic_news/crews/pestel/config/tasks.yaml
  src/epic_news/crews/pestel/pestel_crew.py
  src/epic_news/main.py
  src/epic_news/models/content_state.py
  src/epic_news/models/crews/pestel_report.py
  src/epic_news/models/extracted_info.py
  src/epic_news/utils/flow_helpers.py
  src/epic_news/utils/html/template_renderers/pestel_markdown.py
  tests/crews/test_classify_config.py
  tests/crews/test_pestel_structure.py
  tests/models/test_content_state.py
  tests/scripts/test_html_rendering.py
  tests/test_determine_crew_router.py
  tests/test_generate_pestel_wiring.py
  tests/utils/test_flow_helpers.py
  uv.lock
Due: ruff-lint, ruff-format, yamllint

feat(pestel): wire PESTEL + deep_research to email funnel; add HTML renderer
  src/epic_news/main.py
  src/epic_news/utils/html/template_manager.py
  src/epic_news/utils/html/template_renderers/pestel_renderer.py
  src/epic_news/utils/html/template_renderers/renderer_factory.py
  tests/crews/test_pestel_structure.py
  tests/test_generate_pestel_wiring.py
Due: ruff-lint, ruff-format

test(pestel): satisfy CodeQL URL substring rule on source assertion
  tests/crews/test_pestel_structure.py
Due: ruff-lint, ruff-format

fix(pestel): address CodeRabbit review on PR #82
  src/epic_news/crews/pestel/pestel_crew.py
  src/epic_news/main.py
  tests/crews/test_pestel_structure.py
Due: ruff-lint, ruff-format

refactor(memory): remove scoped memory; eliminate gpt-4o-mini leak
  CHANGELOG.md
  CLAUDE.md
  docs/adr/ADR-002-scoped-memory.md
  src/epic_news/config/llm_config.py
  src/epic_news/crews/fin_daily/fin_daily.py
  src/epic_news/crews/meeting_prep/meeting_prep_crew.py
  src/epic_news/main.py
  src/epic_news/models/crews/pestel_report.py
  src/epic_news/utils/html/template_renderers/pestel_renderer.py
  tests/crews/test_classify_config.py
  tests/models/test_content_state.py
  tests/test_generate_pestel_wiring.py
Due: ruff-lint, ruff-format

fix(pestel): wire PESTEL + deep_research to email funnel; add HTML renderer (#82)
  CHANGELOG.md
  CLAUDE.md
  docs/adr/ADR-002-scoped-memory.md
  pyproject.toml
  src/epic_news/config/llm_config.py
  src/epic_news/config/mcp_config.py
  src/epic_news/crews/classify/config/tasks.yaml
  src/epic_news/crews/fin_daily/fin_daily.py
  src/epic_news/crews/information_extraction/config/tasks.yaml
  src/epic_news/crews/meeting_prep/meeting_prep_crew.py
  src/epic_news/crews/pestel/config/agents.yaml
  src/epic_news/crews/pestel/config/tasks.yaml
  src/epic_news/crews/pestel/pestel_crew.py
  src/epic_news/main.py
  src/epic_news/models/content_state.py
  src/epic_news/models/crews/pestel_report.py
  src/epic_news/models/extracted_info.py
  src/epic_news/utils/flow_helpers.py
  src/epic_news/utils/html/template_manager.py
  src/epic_news/utils/html/template_renderers/pestel_markdown.py
  src/epic_news/utils/html/template_renderers/pestel_renderer.py
  src/epic_news/utils/html/template_renderers/renderer_factory.py
  tests/crews/test_classify_config.py
  tests/crews/test_pestel_structure.py
  tests/models/test_content_state.py
  tests/scripts/test_html_rendering.py
  tests/test_determine_crew_router.py
  tests/test_generate_pestel_wiring.py
  tests/utils/test_flow_helpers.py
  uv.lock
Due: ruff-lint, ruff-format, yamllint

refactor(html): consolidate report CSS + Arial Nova Light 9pt print base
  src/epic_news/config/ui_theme.py
  src/epic_news/main.py
  src/epic_news/utils/html/template_manager.py
  src/epic_news/utils/html/template_renderers/book_summary_renderer.py
  src/epic_news/utils/html/template_renderers/company_news_renderer.py
  src/epic_news/utils/html/template_renderers/company_profiler_renderer.py
  src/epic_news/utils/html/template_renderers/cooking_renderer.py
  src/epic_news/utils/html/template_renderers/financial_renderer.py
  src/epic_news/utils/html/template_renderers/generic_renderer.py
  src/epic_news/utils/html/template_renderers/geospatial_analysis_renderer.py
  src/epic_news/utils/html/template_renderers/hr_intelligence_renderer.py
  src/epic_news/utils/html/template_renderers/legal_analysis_renderer.py
  src/epic_news/utils/html/template_renderers/meeting_prep_renderer.py
  src/epic_news/utils/html/template_renderers/menu_renderer.py
  src/epic_news/utils/html/template_renderers/news_daily_renderer.py
  src/epic_news/utils/html/template_renderers/osint_global_renderer.py
  src/epic_news/utils/html/template_renderers/poem_renderer.py
  src/epic_news/utils/html/template_renderers/rss_weekly_renderer.py
  src/epic_news/utils/html/template_renderers/saint_renderer.py
  src/epic_news/utils/html/template_renderers/sales_prospecting_renderer.py
  src/epic_news/utils/html/template_renderers/shopping_renderer.py
  src/epic_news/utils/html/template_renderers/tech_stack_renderer.py
  src/epic_news/utils/html/template_renderers/web_presence_renderer.py
  templates/css/report.css
  templates/universal_report_template.html
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_FINDAILY_build_findaily_.html
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_NEWSDAILY_build_newsdaily_.html
Due: ruff-lint, ruff-format

refactor(html): consolidate report CSS + Arial Nova Light 9pt print base (#83)
  src/epic_news/config/ui_theme.py
  src/epic_news/main.py
  src/epic_news/utils/html/template_manager.py
  src/epic_news/utils/html/template_renderers/book_summary_renderer.py
  src/epic_news/utils/html/template_renderers/company_news_renderer.py
  src/epic_news/utils/html/template_renderers/company_profiler_renderer.py
  src/epic_news/utils/html/template_renderers/cooking_renderer.py
  src/epic_news/utils/html/template_renderers/financial_renderer.py
  src/epic_news/utils/html/template_renderers/generic_renderer.py
  src/epic_news/utils/html/template_renderers/geospatial_analysis_renderer.py
  src/epic_news/utils/html/template_renderers/hr_intelligence_renderer.py
  src/epic_news/utils/html/template_renderers/legal_analysis_renderer.py
  src/epic_news/utils/html/template_renderers/meeting_prep_renderer.py
  src/epic_news/utils/html/template_renderers/menu_renderer.py
  src/epic_news/utils/html/template_renderers/news_daily_renderer.py
  src/epic_news/utils/html/template_renderers/osint_global_renderer.py
  src/epic_news/utils/html/template_renderers/poem_renderer.py
  src/epic_news/utils/html/template_renderers/rss_weekly_renderer.py
  src/epic_news/utils/html/template_renderers/saint_renderer.py
  src/epic_news/utils/html/template_renderers/sales_prospecting_renderer.py
  src/epic_news/utils/html/template_renderers/shopping_renderer.py
  src/epic_news/utils/html/template_renderers/tech_stack_renderer.py
  src/epic_news/utils/html/template_renderers/web_presence_renderer.py
  templates/css/report.css
  templates/universal_report_template.html
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_FINDAILY_build_findaily_.html
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_NEWSDAILY_build_newsdaily_.html
Due: ruff-lint, ruff-format

chore(observability): instrument email send path with loguru
  src/epic_news/crews/post/post_crew.py
  src/epic_news/main.py
Due: ruff-lint, ruff-format

chore(dev): switch default kickoff request to RSS weekly digest
  src/epic_news/main.py
Due: ruff-lint, ruff-format

chore(observability): instrument email send path with loguru (#84)
  src/epic_news/crews/post/post_crew.py
  src/epic_news/main.py
Due: ruff-lint, ruff-format

fix(rss): generate report.html for RSS weekly + add email attachment guard
  src/epic_news/main.py
  src/epic_news/utils/report_utils.py
  uv.lock
Due: ruff-lint, ruff-format

fix(rss-renderer): render feed digests + 18 articles instead of empty body
  src/epic_news/utils/html/template_renderers/rss_weekly_renderer.py
Due: ruff-lint, ruff-format

fix(rss): generate report.html for RSS weekly + email attachment guard (#85)
  src/epic_news/main.py
  src/epic_news/utils/html/template_renderers/rss_weekly_renderer.py
  src/epic_news/utils/report_utils.py
  uv.lock
Due: ruff-lint, ruff-format

chore(deps): slim pyproject.toml — drop py2 fossils, separate runtime/test/dev
  pyproject.toml
  uv.lock
Due: none

chore(deps): slim pyproject.toml — drop py2 fossils, separate runtime/test/dev (#86)
  pyproject.toml
  uv.lock
Due: none

chore(release): prep v2.1.0 — bump version, update CHANGELOG, ADR-011, README
  CHANGELOG.md
  README.md
  docs/adr/ADR-011-consolidated-report-css.md
  pyproject.toml
Due: none

chore(cleanup): remove unused dashboard pipeline + add README badges + fix uv.lock
  README.md
  docs/adr/ADR-011-consolidated-report-css.md
  docs/how-to/observability.md
  src/epic_news/utils/CLAUDE.md
  src/epic_news/utils/dashboard_generator.py
  templates/css/dashboard.css
  templates/dashboard_template.html
  tests/utils/test_dashboard_generator.py
  uv.lock
Due: ruff-lint, ruff-format

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
