Repository fjacquet/epic_news: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, yamllint

ruff-lint:
  name: ruff lint
  entry: ruff
  args:
  - check
  - --fix
  language: system

ruff-format:
  name: ruff format
  entry: ruff
  args:
  - format
  language: system

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - -s
  language: system

fix(pestel): search the last 12 months first
  docs/reference/tools.md
  src/epic_news/crews/pestel/config/tasks.yaml
  src/epic_news/crews/pestel/pestel_crew.py
  src/epic_news/tools/recent_search_tool.py
  tests/tools/test_recent_search_tool.py
Due: ruff-lint, ruff-format, yamllint

fix(pestel): give each dimension fresh search results before the crew runs
  .env.example
  CLAUDE.md
  src/epic_news/crews/pestel/config/tasks.yaml
  src/epic_news/main.py
  tests/test_generate_pestel_wiring.py
Due: ruff-lint, ruff-format, yamllint

fix(pestel): honour Ctrl+C during the pre-search
  src/epic_news/main.py
  tests/test_generate_pestel_wiring.py
Due: ruff-lint, ruff-format

docs: record the quality-bug fixes in the wave results
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
Due: none

fix(menu): stop the run instead of producing a placeholder menu
  src/epic_news/main.py
  src/epic_news/services/menu_designer_service.py
  src/epic_news/utils/menu_plan_validator.py
  tests/services/test_menu_designer_service.py
  tests/test_generate_menu_designer_stops.py
  tests/utils/test_menu_plan_validator.py
Due: ruff-lint, ruff-format

docs(plan): simplification S1 plan; spec S1 keeps CrewAI's documented crew form
  docs/superpowers/plans/2026-10-05-simplification-s1-crew-cleanup.md
  docs/superpowers/specs/2026-10-04-simplification-wave-design.md
Due: none

test(crews): snapshot every crew's agent, task and crew settings
  tests/crews/snapshots/crew_settings.json
  tests/crews/test_crew_settings_snapshot.py
Due: ruff-lint, ruff-format

refactor(crews): type CrewBase attributes and drop unneeded type ignores
  pyproject.toml
  src/epic_news/crews/classify/classify_crew.py
  src/epic_news/crews/company_news/company_news_crew.py
  src/epic_news/crews/company_profiler/company_profiler_crew.py
  src/epic_news/crews/cooking/cooking_crew.py
  src/epic_news/crews/cross_reference_report_crew/cross_reference_report_crew.py
  src/epic_news/crews/deep_research/deep_research.py
  src/epic_news/crews/fin_daily/fin_daily.py
  src/epic_news/crews/geospatial_analysis/geospatial_analysis_crew.py
  src/epic_news/crews/holiday_planner/holiday_planner_crew.py
  src/epic_news/crews/hr_intelligence/hr_intelligence_crew.py
  src/epic_news/crews/information_extraction/information_extraction_crew.py
  src/epic_news/crews/legal_analysis/legal_analysis_crew.py
  src/epic_news/crews/library/library_crew.py
  src/epic_news/crews/meeting_prep/meeting_prep_crew.py
  src/epic_news/crews/menu_designer/menu_designer.py
  src/epic_news/crews/news_daily/news_daily.py
  src/epic_news/crews/pestel/pestel_crew.py
  src/epic_news/crews/poem/poem_crew.py
  src/epic_news/crews/rss_weekly/rss_weekly_crew.py
  src/epic_news/crews/saint_daily/saint_daily.py
  src/epic_news/crews/sales_prospecting/sales_prospecting_crew.py
  src/epic_news/crews/shopping_advisor/shopping_advisor.py
  src/epic_news/crews/tech_stack/tech_stack_crew.py
  src/epic_news/crews/web_presence/web_presence_crew.py
  tests/crews/test_crew_module_hygiene.py
Due: ruff-lint, ruff-format

test(crews): clear CrewAI's memo cache before each crew test
  tests/crews/conftest.py
Due: ruff-lint, ruff-format

refactor(crews): pass self.agents to Crew without a cast
  src/epic_news/crews/classify/classify_crew.py
  src/epic_news/crews/information_extraction/information_extraction_crew.py
  src/epic_news/crews/poem/poem_crew.py
Due: ruff-lint, ruff-format

refactor(crews): load .env at the entry points, not in crew modules
  src/epic_news/crews/classify/classify_crew.py
  src/epic_news/crews/company_news/company_news_crew.py
  src/epic_news/crews/company_profiler/company_profiler_crew.py
  src/epic_news/crews/cooking/cooking_crew.py
  src/epic_news/crews/geospatial_analysis/geospatial_analysis_crew.py
  src/epic_news/crews/holiday_planner/holiday_planner_crew.py
  src/epic_news/crews/hr_intelligence/hr_intelligence_crew.py
  src/epic_news/crews/legal_analysis/legal_analysis_crew.py
  src/epic_news/crews/meeting_prep/meeting_prep_crew.py
  src/epic_news/crews/sales_prospecting/sales_prospecting_crew.py
  src/epic_news/crews/tech_stack/tech_stack_crew.py
  src/epic_news/crews/web_presence/web_presence_crew.py
  tests/crews/test_crew_module_hygiene.py
Due: ruff-lint, ruff-format

docs(crews): document typed CrewBase attributes and .env loading
  src/epic_news/crews/CLAUDE.md
  tests/crews/_registry.py
Due: ruff-lint, ruff-format

test(crews): locate crew modules from the test file; fix doc examples
  src/epic_news/crews/CLAUDE.md
  tests/crews/test_crew_module_hygiene.py
Due: ruff-lint, ruff-format

test(crews): pin GITHUB_TOKEN in the settings snapshot
  tests/crews/test_crew_settings_snapshot.py
Due: ruff-lint, ruff-format

fix(sales): let the sales prospecting tasks use their YAML prompts
  scripts/bench_requests.json
  src/epic_news/crews/sales_prospecting/sales_prospecting_crew.py
  src/epic_news/main.py
  tests/crews/snapshots/crew_settings.json
  tests/crews/test_sales_prospecting_prompts.py
Due: ruff-lint, ruff-format

docs(plan): simplification S2 plan (parsing through model validators)
  docs/superpowers/plans/2026-10-05-simplification-s2-parsing.md
Due: none

test(parsing): replay recorded crew outputs against golden models
  tests/fixtures/raw_outputs/company_profile.txt
  tests/fixtures/raw_outputs/cross_reference_report.txt
  tests/fixtures/raw_outputs/expected/company_profile.json
  tests/fixtures/raw_outputs/expected/cross_reference_report.json
  tests/fixtures/raw_outputs/expected/hr_intelligence.json
  tests/fixtures/raw_outputs/expected/newsdaily.json
  tests/fixtures/raw_outputs/expected/pestel.json
  tests/fixtures/raw_outputs/expected/sales_prospecting.json
  tests/fixtures/raw_outputs/expected/tech_stack.json
  tests/fixtures/raw_outputs/expected/web_presence.json
  tests/fixtures/raw_outputs/hr_intelligence.txt
  tests/fixtures/raw_outputs/newsdaily.txt
  tests/fixtures/raw_outputs/pestel.txt
  tests/fixtures/raw_outputs/sales_prospecting.txt
  tests/fixtures/raw_outputs/tech_stack.txt
  tests/fixtures/raw_outputs/web_presence.txt
  tests/utils/diagnostics/test_parsing_characterisation.py
Due: ruff-lint, ruff-format

feat(models): table-of-contents ids accept numbers
  src/epic_news/models/crews/book_summary_report.py
  tests/models/test_book_summary_toc_id.py
Due: ruff-lint, ruff-format

refactor(parsing): repair crew JSON with json_repair; model fixes live on the models
  pyproject.toml
  src/epic_news/utils/CLAUDE.md
  src/epic_news/utils/diagnostics/parsing.py
  tests/models/test_book_summary_toc_id.py
  tests/utils/diagnostics/test_parsing.py
  uv.lock
Due: ruff-lint, ruff-format

fix(parsing): read the first JSON value before falling back to json_repair
  src/epic_news/utils/CLAUDE.md
  src/epic_news/utils/diagnostics/parsing.py
  tests/utils/diagnostics/test_parsing.py
Due: ruff-lint, ruff-format

fix(parsing): report validator TypeError/AttributeError as a data-structure error
  src/epic_news/utils/diagnostics/parsing.py
  tests/utils/diagnostics/test_parsing.py
  tests/utils/diagnostics/test_parsing_characterisation.py
Due: ruff-lint, ruff-format

docs(spec): reports are DOCX only (S5 revised, before S3)
  docs/superpowers/specs/2026-10-04-simplification-wave-design.md
Due: none

docs(plan): simplification S5 plan (DOCX only)
  docs/superpowers/plans/2026-10-05-simplification-s5-docx-only.md
Due: none

feat(docx): deterministic poem report
  src/epic_news/utils/docx_report/crews/poem.py
  tests/utils/docx_report/crews/test_poem.py
Due: ruff-lint, ruff-format

refactor(flow): every report step writes DOCX only
  src/epic_news/main.py
  src/epic_news/models/content_state.py
  src/epic_news/utils/docx_report/dispatch.py
  src/epic_news/utils/docx_report/docx_builder.py
  src/epic_news/utils/docx_report/format_selection.py
  tests/flows/test_all_steps_emit_docx.py
  tests/flows/test_generate_output_file.py
  tests/flows/test_generate_shopping_advice_slug.py
  tests/flows/test_holiday_no_destination.py
  tests/flows/test_reception_flow_e2e.py
  tests/flows/test_send_email_binary_report.py
  tests/models/test_content_state_crew_inputs.py
  tests/test_generate_menu_designer_stops.py
  tests/test_generate_pestel_wiring.py
  tests/test_osint_parallel_json.py
  tests/utils/docx_report/conftest.py
  tests/utils/docx_report/crews/test_book_summary.py
  tests/utils/docx_report/crews/test_company_news.py
  tests/utils/docx_report/crews/test_cooking.py
  tests/utils/docx_report/crews/test_deep_research.py
  tests/utils/docx_report/crews/test_fin_daily.py
  tests/utils/docx_report/crews/test_meeting_prep.py
  tests/utils/docx_report/crews/test_menu.py
  tests/utils/docx_report/crews/test_news_daily.py
  tests/utils/docx_report/crews/test_osint.py
  tests/utils/docx_report/crews/test_pestel.py
  tests/utils/docx_report/crews/test_rss_weekly.py
  tests/utils/docx_report/crews/test_saint.py
  tests/utils/docx_report/crews/test_sales_prospecting.py
  tests/utils/docx_report/crews/test_shopping.py
  tests/utils/docx_report/test_assemble.py
  tests/utils/docx_report/test_assemble_failure_modes.py
  tests/utils/docx_report/test_dispatch.py
  tests/utils/docx_report/test_docx_boundary.py
  tests/utils/docx_report/test_emit_report.py
  tests/utils/docx_report/test_format_selection.py
  tests/utils/docx_report/test_reference_styles.py
  tests/utils/holiday_report/conftest.py
  tests/utils/holiday_report/test_assemble.py
  tests/utils/holiday_report/test_docx_builder.py
Due: ruff-lint, ruff-format

fix(flow): OSINT cross-reference JSON is validated and fresh; report failures stop the run
  src/epic_news/main.py
  src/epic_news/utils/docx_report/crews/osint.py
  tests/flows/test_all_steps_emit_docx.py
  tests/test_generate_pestel_wiring.py
  tests/test_osint_cross_reference.py
  tests/utils/docx_report/crews/test_osint.py
  tests/utils/docx_report/test_docx_boundary.py
Due: ruff-lint, ruff-format

feat(email,app): send and offer the DOCX report
  src/epic_news/app.py
  src/epic_news/main.py
  src/epic_news/utils/report_utils.py
  tests/flows/test_all_steps_emit_docx.py
  tests/flows/test_send_email_binary_report.py
  tests/flows/test_send_email_docx.py
  tests/flows/test_send_email_honesty.py
  tests/test_app.py
  tests/test_html_to_markdown.py
  tests/utils/test_prepare_email_params_binary.py
  tests/utils/test_report_html_resolution.py
  tests/utils/test_report_utils.py
Due: ruff-lint, ruff-format

chore: drop stale HTML checks from the readiness script
  pyproject.toml
  scripts/validate_production_readiness.py
Due: ruff-lint, ruff-format

docs: DOCX-only reports (ADR-017 supersedes ADR-005 and ADR-011)
  CLAUDE.md
  Dockerfile
  README.md
  docs/adr/ADR-005-deterministic-html-rendering.md
  docs/adr/ADR-011-consolidated-report-css.md
  docs/adr/ADR-015-output-trust-boundary.md
  docs/adr/ADR-017-docx-only-reports.md
  docs/explanations/architecture.md
  docs/how-to/development_setup.md
  docs/how-to/troubleshooting.md
  docs/index.md
  docs/prd/PRD-federated-html.md
  docs/reference/RENDERING_ARCHITECTURE.md
  docs/reference/index.md
  docs/reference/integration_patterns.md
  docs/reference/outputs.md
  docs/sweep-runbook.md
  docs/troubleshooting/COMMON_ERRORS.md
  docs/tutorials/getting_started.md
  docs/tutorials/user_guide.md
  src/epic_news/crews/CLAUDE.md
  src/epic_news/tools/CLAUDE.md
  src/epic_news/utils/CLAUDE.md
Due: none

chore: project description says DOCX reports
  pyproject.toml
Due: none

docs(bench): S5 DOCX-only live runs (news_daily, saint)
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
  scripts/bench_requests.json
Due: none

fix: no placeholder or empty-context sections; app gets the report path
  CLAUDE.md
  docs/adr/ADR-017-docx-only-reports.md
  src/epic_news/app.py
  src/epic_news/utils/CLAUDE.md
  src/epic_news/utils/docx_report/assemble.py
  tests/test_app.py
  tests/utils/docx_report/test_assemble_failure_modes.py
Due: ruff-lint, ruff-format

docs(plan): simplification S3 plan (deep research standard path)
  docs/superpowers/plans/2026-10-05-simplification-s3-deep-research.md
Due: none

test: pin a recorded deep-research output (S3 characterisation)
  tests/fixtures/raw_outputs/deep_research.txt
  tests/fixtures/raw_outputs/expected/deep_research.json
  tests/utils/diagnostics/test_parsing_characterisation.py
Due: ruff-lint, ruff-format

refactor(deep_research): one schema, standard flow step, no extractor
  src/epic_news/crews/deep_research/deep_research.py
  src/epic_news/main.py
  src/epic_news/models/crews/deep_research.py
  src/epic_news/models/crews/deep_research_report.py
  src/epic_news/utils/docx_report/crews/deep_research.py
  src/epic_news/utils/extractors/__init__.py
  src/epic_news/utils/extractors/base_extractor.py
  src/epic_news/utils/extractors/deep_research.py
  src/epic_news/utils/extractors/factory.py
  src/epic_news/utils/extractors/generic.py
  tests/models/test_deep_research_key_renames.py
  tests/models/test_deep_research_report_resilience.py
  tests/scripts/test_deep_research_extractor.py
  tests/test_generate_deep_research_flow.py
  tests/utils/diagnostics/test_parsing_characterisation.py
  tests/utils/docx_report/crews/test_deep_research.py
  tests/utils/docx_report/crews/test_deep_research_characterisation.py
  tests/utils/test_deep_research_extraction_integrity.py
Due: ruff-lint, ruff-format

docs: deep research has no extractor exception (S3)
  CLAUDE.md
  docs/adr/ADR-017-docx-only-reports.md
  src/epic_news/utils/CLAUDE.md
Due: none

docs(bench): S3 deep research live run
  docs/superpowers/plans/2026-10-04-efficiency-wave-results.md
  scripts/bench_requests.json
Due: none

test(deep_research): non-object input is rejected, not rewritten
  tests/models/test_deep_research_key_renames.py
Due: ruff-lint, ruff-format

docs(plan): simplification S4 plan (crew registry, standard-step helper)
  docs/superpowers/plans/2026-10-05-simplification-s4-crew-registry.md
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
