Repository fjacquet/epic_news: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff lint
        entry: ruff
        args: ["check", "--fix"]
        language: system
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: ruff
        args: ["format"]
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: yamllint
        args: ["-s"]
        language: system
        types: [yaml]

docs: add CLAUDE.md guidance for Claude Code instances
  CLAUDE.md
Due: none

feat: centralize LLM configuration with OpenRouter support
  src/epic_news/config/__init__.py
  src/epic_news/config/llm_config.py
  src/epic_news/crews/cross_reference_report_crew/cross_reference_report_crew.py
  src/epic_news/crews/deep_research/deep_research.py
  src/epic_news/crews/fin_daily/fin_daily.py
  src/epic_news/crews/holiday_planner/holiday_planner_crew.py
  src/epic_news/crews/hr_intelligence/hr_intelligence_crew.py
  src/epic_news/crews/legal_analysis/legal_analysis_crew.py
  src/epic_news/crews/library/library_crew.py
  src/epic_news/crews/news_daily/news_daily.py
  src/epic_news/rag_config.py
Due: ruff-lint, ruff-format

fix: handle empty LLM_MAX_TOKENS environment variable
  src/epic_news/config/llm_config.py
Due: ruff-lint, ruff-format

feat: integrate Wikipedia MCP server in deep_research crew
  src/epic_news/config/mcp_config.py
  src/epic_news/crews/deep_research/deep_research.py
Due: ruff-lint, ruff-format

docs: update MCP integration guide for MCPServerAdapter
  docs/MCP_INTEGRATION_GUIDE.md
Due: none

fix: correct Wikipedia MCP executable name
  docs/MCP_INTEGRATION_GUIDE.md
  src/epic_news/config/mcp_config.py
Due: ruff-lint, ruff-format

feat: integrate Composio 1.0 API with 176 tools across 10 toolkits
  docs/COMPOSIO_SETUP_GUIDE.md
  src/epic_news/config/__init__.py
  src/epic_news/config/composio_config.py
Due: ruff-lint, ruff-format

feat: migrate company_news and post crews to Composio 1.0 API
  docs/COMPOSIO_SETUP_GUIDE.md
  src/epic_news/crews/company_news/company_news_crew.py
  src/epic_news/crews/post/post_crew.py
Due: ruff-lint, ruff-format

refactor: optimize deep_research crew from 5 to 4 agents
  src/epic_news/crews/deep_research/config/agents.yaml
  src/epic_news/crews/deep_research/config/tasks.yaml
  src/epic_news/crews/deep_research/deep_research.py
Due: ruff-lint, ruff-format, yamllint

Phase 9.1-9.4: Add comprehensive Makefile with development tools
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
  src/epic_news/app.py
  src/epic_news/config/composio_config.py
  src/epic_news/config/llm_config.py
  src/epic_news/config/mcp_config.py
  src/epic_news/crews/deep_research/config/agents.yaml
  src/epic_news/crews/deep_research/config/tasks.yaml
  src/epic_news/crews/deep_research/deep_research.py
  src/epic_news/crews/fin_daily/config/agents.yaml
  src/epic_news/crews/fin_daily/config/tasks.yaml
  src/epic_news/crews/holiday_planner/config/tasks.yaml
  src/epic_news/crews/library/config/agents.yaml
  src/epic_news/crews/library/config/tasks.yaml
  src/epic_news/crews/menu_designer/config/agents.yaml
  src/epic_news/crews/menu_designer/config/tasks.yaml
  src/epic_news/crews/news_daily/config/tasks.yaml
  src/epic_news/crews/news_daily/news_daily.py
  src/epic_news/crews/post/post_crew.py
  src/epic_news/main.py
  uv.lock
Due: ruff-lint, ruff-format, yamllint

Phase 9.5: Update documentation with Makefile usage
  README.md
  docs/1_DEVELOPMENT_GUIDE.md
Due: none

use serena
  .serena/memories/architectural_principles.md
  .serena/memories/code_style_and_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
Due: yamllint

Phase 6: Enable async execution for parallel task processing
  .serena/.gitignore
  bandit-report.json
  netatmo.json
  src/epic_news/crews/fin_daily/fin_daily.py
Due: ruff-lint, ruff-format

refactor: Phase 7 - Standardize configuration across all crews
  src/epic_news/crews/company_news/company_news_crew.py
  src/epic_news/crews/cooking/cooking_crew.py
  src/epic_news/crews/geospatial_analysis/geospatial_analysis_crew.py
  src/epic_news/crews/meeting_prep/meeting_prep_crew.py
  src/epic_news/crews/post/post_crew.py
  src/epic_news/crews/sales_prospecting/sales_prospecting_crew.py
  src/epic_news/crews/web_presence/web_presence_crew.py
Due: ruff-lint, ruff-format

docs: Phase 8 - Update documentation with OpenRouter, MCP, and Composio
  CLAUDE.md
  docs/MCP_INTEGRATION_GUIDE.md
Due: none

docs: add Phase 1 critical documentation to reduce developer onboarding time
  docs/reference/RENDERING_ARCHITECTURE.md
  docs/troubleshooting/COMMON_ERRORS.md
  docs/tutorials/01_YOUR_FIRST_CREW.md
Due: none

refactor: fix all ruff linting issues (17 errors → 0)
  src/epic_news/config/mcp_config.py
  src/epic_news/models/crews/deep_research_academic.py
  src/epic_news/tools/hybrid_search_tool.py
  src/epic_news/utils/extractors/__init__.py
Due: ruff-lint, ruff-format

security: replace MD5 with SHA-256 for event ID generation
  src/epic_news/utils/observability.py
Due: ruff-lint, ruff-format

chore: improve .gitignore for Python bytecode files
  .gitignore
Due: none

refactor: Fix mypy type errors and improve .gitignore
  .gitignore
  Makefile
  bandit-report.json
  coverage.xml
  pyproject.toml
  src/epic_news/crews/classify/classify_crew.py
  src/epic_news/crews/company_news/company_news_crew.py
  src/epic_news/crews/company_profiler/company_profiler_crew.py
  src/epic_news/crews/cooking/cooking_crew.py
  src/epic_news/crews/cross_reference_report_crew/cross_reference_report_crew.py
  src/epic_news/crews/deep_research/config/agents.yaml
  src/epic_news/crews/deep_research/deep_research.py
  src/epic_news/crews/geospatial_analysis/geospatial_analysis_crew.py
  src/epic_news/crews/holiday_planner/holiday_planner_crew.py
  src/epic_news/crews/hr_intelligence/hr_intelligence_crew.py
  src/epic_news/crews/information_extraction/information_extraction_crew.py
  src/epic_news/crews/legal_analysis/legal_analysis_crew.py
  src/epic_news/crews/library/library_crew.py
  src/epic_news/crews/meeting_prep/meeting_prep_crew.py
  src/epic_news/crews/menu_designer/menu_designer.py
  src/epic_news/crews/news_daily/news_daily.py
  src/epic_news/crews/poem/poem_crew.py
  src/epic_news/crews/post/post_crew.py
  src/epic_news/crews/reception/reception_crew.py
  src/epic_news/crews/rss_weekly/rss_weekly_crew.py
  src/epic_news/crews/sales_prospecting/sales_prospecting_crew.py
  src/epic_news/crews/tech_stack/tech_stack_crew.py
  src/epic_news/crews/web_presence/web_presence_crew.py
  src/epic_news/main.py
  src/epic_news/models/content_state.py
  src/epic_news/tools/html_to_pdf_tool.py
  src/epic_news/tools/scrape_ninja_tool.py
  src/epic_news/tools/serpapi_tool.py
  src/epic_news/tools/validation_tools.pyo
  src/epic_news/utils/menu_generator.py
  src/epic_news/utils/menu_plan_validator.py
  uv.lock
Due: ruff-lint, ruff-format, yamllint

docs: Add hierarchical CLAUDE.md files for better context organization
  src/epic_news/crews/CLAUDE.md
  src/epic_news/tools/CLAUDE.md
  src/epic_news/utils/CLAUDE.md
Due: none

style: Fix ruff UP047 and apply code formatting
  src/epic_news/models/coinmarketcap_models.py
  src/epic_news/models/crews/book_summary_report.py
  src/epic_news/models/crews/company_news_report.py
  src/epic_news/models/crews/deep_research_report.py
  src/epic_news/models/crews/financial_report.py
  src/epic_news/models/crews/holiday_planner_report.py
  src/epic_news/models/crews/meeting_prep_report.py
  src/epic_news/models/crews/news_daily_report.py
  src/epic_news/models/crews/tech_stack_report.py
  src/epic_news/models/crews/web_presence_report.py
  src/epic_news/models/extracted_info.py
  src/epic_news/models/finance_models.py
  src/epic_news/models/google_fact_check_tool.py
  src/epic_news/models/report_models.py
  src/epic_news/models/rss_models.py
  src/epic_news/models/todoist_models.py
  src/epic_news/models/web_search_models.py
  src/epic_news/models/wikipedia_models.py
  src/epic_news/utils/diagnostics/parsing.py
  src/epic_news/utils/extractors/fin_daily.py
  src/epic_news/utils/report_utils.py
  src/epic_news/utils/task_orchestration.py
Due: ruff-lint, ruff-format

ci: Add mypy type checking to pre-commit and GitHub Actions
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: yamllint

feat(html): Add CompanyProfilerRenderer with French localization
  src/epic_news/utils/html/template_renderers/company_profiler_renderer.py
  src/epic_news/utils/html/template_renderers/renderer_factory.py
Due: ruff-lint, ruff-format

feat(search): Add Perplexity as primary search with cascading fallback
  src/epic_news/config/composio_config.py
  src/epic_news/crews/post/post_crew.py
  src/epic_news/main.py
  src/epic_news/models/crews/company_profiler_report.py
  src/epic_news/tools/hybrid_search_tool.py
  src/epic_news/tools/perplexity_search_tool.py
  src/epic_news/utils/flow_enforcement.py
  src/epic_news/utils/llm_retry.py
  src/epic_news/utils/menu_generator.py
  tests/scripts/regenerate_book_summary.py
  tests/scripts/regenerate_company_news.py
  tests/scripts/regenerate_financial_report.py
  tests/scripts/regenerate_holiday_plan.py
  tests/scripts/regenerate_menu_plan.py
  tests/scripts/regenerate_sales_prospecting.py
  tests/tools/manual_kraken_test.py
  tests/tools/test_accuweather_tool.py
  tests/tools/test_airtable_tool.py
  tests/tools/test_batch_article_scraper_tool.py
  tests/tools/test_google_fact_check_tool.py
  tests/tools/test_html_to_pdf_tool.py
  tests/tools/test_kraken_api_tool.py
  tests/tools/test_opml_parser_tool.py
  tests/tools/test_perplexity_search_tool.py
  tests/tools/test_rag_tools.py
  tests/tools/test_rss_feed_parser_tool.py
  tests/tools/test_scrape_ninja_tool.py
  tests/tools/test_serpapi_tool.py
  tests/tools/test_serper_email_search_tool.py
  tests/tools/test_tavily_tool.py
  tests/tools/test_wikipedia_article_tool.py
  tests/tools/test_wikipedia_processing_tool.py
  tests/tools/test_wikipedia_search_tool.py
  tests/tools/test_yahoo_finance_news_tool.py
  tests/tools/test_yahoo_finance_ticker_info_tool.py
  tests/utils/test_menu_plan_validator.py
Due: ruff-lint, ruff-format

docs: Reorganize documentation using Diátaxis framework
  docs/archive/claude_prompt.md
  docs/archive/deep_research_crew_spec.md
  docs/archive/deep_research_impact_analysis.md
  docs/archive/impact_analysis_refactoring_tests.md
  docs/archive/menu_designer_integration_fix.md
  docs/archive/menu_designer_lessons_learned.md
  docs/archive/pydantic_implementation_plan.md
  docs/archive/sample_prompt.md
  docs/archive/test.md
  docs/explanations/architecture.md
  docs/explanations/deep_research.md
  docs/explanations/index.md
  docs/how-to/bug_reporting.md
  docs/how-to/composio_setup.md
  docs/how-to/development_setup.md
  docs/how-to/docker_deployment.md
  docs/how-to/index.md
  docs/how-to/mcp_setup.md
  docs/how-to/observability.md
  docs/index.md
  docs/reference/index.md
  docs/reference/integration_patterns.md
  docs/reference/tools.md
  docs/troubleshooting/index.md
  docs/tutorials/getting_started.md
  docs/tutorials/index.md
  docs/tutorials/user_guide.md
Due: none

docs: Add comprehensive API keys reference documentation
  .env.example
  docs/reference/api_keys.md
  docs/reference/index.md
Due: none

docs: Fix markdown lint warnings in api_keys.md
  docs/reference/api_keys.md
Due: none

feat(osint): Add specialized HTML renderers and consolidated report
  Makefile
  src/epic_news/main.py
  src/epic_news/utils/diagnostics/parsing.py
  src/epic_news/utils/html/template_renderers/geospatial_analysis_renderer.py
  src/epic_news/utils/html/template_renderers/hr_intelligence_renderer.py
  src/epic_news/utils/html/template_renderers/legal_analysis_renderer.py
  src/epic_news/utils/html/template_renderers/osint_global_renderer.py
  src/epic_news/utils/html/template_renderers/renderer_factory.py
  src/epic_news/utils/html/template_renderers/tech_stack_renderer.py
  src/epic_news/utils/html/template_renderers/web_presence_renderer.py
Due: ruff-lint, ruff-format

refactor(osint): Replace SerperDevTool with HybridSearchTool and reduce renderer duplication
  docs/explanations/architecture.md
  docs/how-to/development_setup.md
  src/epic_news/crews/company_profiler/company_profiler_crew.py
  src/epic_news/crews/deep_research/deep_research.py
  src/epic_news/crews/geospatial_analysis/geospatial_analysis_crew.py
  src/epic_news/crews/hr_intelligence/hr_intelligence_crew.py
  src/epic_news/crews/legal_analysis/legal_analysis_crew.py
  src/epic_news/crews/sales_prospecting/sales_prospecting_crew.py
  src/epic_news/crews/tech_stack/tech_stack_crew.py
  src/epic_news/crews/web_presence/web_presence_crew.py
  src/epic_news/utils/html/template_renderers/base_renderer.py
  src/epic_news/utils/html/template_renderers/geospatial_analysis_renderer.py
  src/epic_news/utils/html/template_renderers/hr_intelligence_renderer.py
  src/epic_news/utils/html/template_renderers/legal_analysis_renderer.py
  src/epic_news/utils/html/template_renderers/tech_stack_renderer.py
  src/epic_news/utils/html/template_renderers/web_presence_renderer.py
Due: ruff-lint, ruff-format

fix(models): Add Pydantic validators to handle LLM output variations
  src/epic_news/models/crews/company_profiler_report.py
Due: ruff-lint, ruff-format

feat: Add Pydantic output validation to all crews and enable parallel OSINT execution
  src/epic_news/config/llm_config.py
  src/epic_news/crews/classify/classify_crew.py
  src/epic_news/crews/meeting_prep/meeting_prep_crew.py
  src/epic_news/crews/news_daily/news_daily.py
  src/epic_news/crews/post/post_crew.py
  src/epic_news/crews/reception/reception_crew.py
  src/epic_news/crews/rss_weekly/rss_weekly_crew.py
  src/epic_news/main.py
  src/epic_news/models/crews/classification_result.py
  src/epic_news/models/crews/post_result.py
  src/epic_news/models/crews/routing_result.py
  src/epic_news/utils/flow_enforcement.py
Due: ruff-lint, ruff-format

fix: Make generate_osint async to work within CrewAI event loop
  src/epic_news/config/composio_config.py
  src/epic_news/main.py
  src/epic_news/utils/html/template_renderers/company_profiler_renderer.py
  src/epic_news/utils/html/template_renderers/geospatial_analysis_renderer.py
  src/epic_news/utils/html/template_renderers/hr_intelligence_renderer.py
  src/epic_news/utils/html/template_renderers/legal_analysis_renderer.py
  src/epic_news/utils/html/template_renderers/osint_global_renderer.py
  src/epic_news/utils/html/template_renderers/tech_stack_renderer.py
  src/epic_news/utils/html/template_renderers/web_presence_renderer.py
  tests/tools/test_html_to_pdf_tool.py
Due: ruff-lint, ruff-format

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: yamllint

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: yamllint

security fix
  uv.lock
Due: none

Merge branch 'master' of https://github.com/fjacquet/epic_news
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  pyproject.toml
  uv.lock
Due: yamllint
