Repository fjacquet/epic_news: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, yamllint

ruff-lint:
  name: ruff lint
  entry: ruff
  args:
  - check
  - --fix
  language: system

ruff-format:
  name: ruff format
  entry: ruff
  args:
  - format
  language: system

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - -s
  language: system

chore(deps): add deptry guardrail + make deps-audit target
  Makefile
  pyproject.toml
  uv.lock
Due: none

chore(deps): guard deps-audit when deptry absent; clarify DEP003 comment
  Makefile
  pyproject.toml
Due: none

feat(security): add make sbom (CycloneDX from uv.lock)
  .gitignore
  Makefile
Due: none

chore(security): pin cyclonedx-bom==7.3.0 for reproducible SBOMs
  Makefile
Due: none

feat(security): replace deprecated safety with osv-scanner SBOM scan
  Makefile
  osv-scanner.toml
  pyproject.toml
  uv.lock
Due: none

docs: fix stale 'safety' reference in make dev help text
  Makefile
Due: none

ci(deps): group + cap dependabot updates; add github-actions ecosystem
  .github/dependabot.yml
Due: yamllint

ci(security): add SBOM + osv-scanner workflow, attach SBOM to releases
  .github/workflows/security.yml
Due: yamllint

ci(security): verify osv-scanner binary checksum on download
  .github/workflows/security.yml
Due: yamllint

security: allowlist unfixable chromadb critical (GHSA-f4j7-r4q5-qw2c)
  osv-scanner.toml
Due: none

docs: update development_setup for osv-scanner/deptry (drop safety)
  docs/how-to/development_setup.md
Due: none

chore: address CodeRabbit review + bump actions to latest
  .github/workflows/security.yml
  docs/superpowers/specs/2026-06-07-lean-deps-and-sbom-design.md
  src/epic_news/app.py
  tests/test_html_to_markdown.py
Due: ruff-lint, ruff-format, yamllint

test: cover html_to_markdown parser-failure fallback path
  tests/test_html_to_markdown.py
Due: ruff-lint, ruff-format

Lean dependencies + official secured SBOM (#114)
  .github/dependabot.yml
  .github/workflows/security.yml
  .gitignore
  Makefile
  TODO.md
  docs/how-to/development_setup.md
  docs/superpowers/plans/2026-06-07-lean-deps-and-sbom.md
  docs/superpowers/specs/2026-06-07-lean-deps-and-sbom-design.md
  osv-scanner.toml
  pyproject.toml
  src/epic_news/app.py
  tests/test_advanced_libraries.py
  tests/test_html_to_markdown.py
  uv.lock
Due: ruff-lint, ruff-format, yamllint

chore: bump version to 3.2.0
  pyproject.toml
  uv.lock
Due: none

ci(security): waive unfixable nltk path-traversal advisory (GHSA-p4gq-832x-fm9v)
  osv-scanner.toml
Due: none

fix(types): drop 4 unused 'type: ignore' comments in main.py
  src/epic_news/main.py
Due: ruff-lint, ruff-format

ci: waive unfixable nltk advisory + drop 4 unused type:ignores (#122)
  osv-scanner.toml
  src/epic_news/main.py
Due: ruff-lint, ruff-format

ci: add Dependabot auto-merge workflow
  .github/workflows/dependabot-automerge.yml
Due: yamllint

ci: add Dependabot auto-merge workflow (#123)
  .github/workflows/dependabot-automerge.yml
Due: yamllint

fix(crews): isolate agents for concurrent async tasks (CrewAI 1.15)
  src/epic_news/crews/company_profiler/company_profiler_crew.py
  src/epic_news/crews/cross_reference_report_crew/cross_reference_report_crew.py
  src/epic_news/crews/fin_daily/fin_daily.py
  src/epic_news/crews/geospatial_analysis/geospatial_analysis_crew.py
  src/epic_news/crews/hr_intelligence/hr_intelligence_crew.py
  src/epic_news/crews/legal_analysis/legal_analysis_crew.py
  src/epic_news/crews/news_daily/news_daily.py
  src/epic_news/crews/tech_stack/tech_stack_crew.py
  src/epic_news/crews/web_presence/web_presence_crew.py
  tests/crews/test_async_agent_isolation.py
Due: ruff-lint, ruff-format

fix(utils): use Loguru in flow_enforcement, repair log placeholders
  src/epic_news/utils/flow_enforcement.py
  tests/utils/test_flow_enforcement.py
Due: ruff-lint, ruff-format

fix(flow): remove dead listeners and unroutable categories, add wiring contract test
  src/epic_news/main.py
  src/epic_news/models/content_state.py
  tests/crews/test_classify_config.py
  tests/test_flow_wiring.py
Due: ruff-lint, ruff-format

fix(classify): offer SHOPPING (routable) instead of orphan SHOPPING_ADVISOR in classifier prompt
  src/epic_news/crews/classify/config/tasks.yaml
  tests/crews/test_classify_config.py
Due: ruff-lint, ruff-format, yamllint

test(classify): word-boundary category matching in prompt guard
  tests/crews/test_classify_config.py
Due: ruff-lint, ruff-format

fix(crews): route 5 crews' agents through LLMConfig, add LLM contract test
  src/epic_news/crews/company_news/company_news_crew.py
  src/epic_news/crews/geospatial_analysis/geospatial_analysis_crew.py
  src/epic_news/crews/meeting_prep/meeting_prep_crew.py
  src/epic_news/crews/saint_daily/saint_daily.py
  src/epic_news/crews/shopping_advisor/shopping_advisor.py
  tests/crews/test_agent_llm_contract.py
Due: ruff-lint, ruff-format

fix(crews): hr_reporter agent through LLMConfig, drop contract xfail
  src/epic_news/crews/hr_intelligence/hr_intelligence_crew.py
  tests/crews/test_agent_llm_contract.py
Due: ruff-lint, ruff-format

test(models): characterize to_crew_inputs(), replace debug prints with logger.debug
  src/epic_news/models/content_state.py
  tests/models/test_content_state_crew_inputs.py
Due: ruff-lint, ruff-format

test(tools): ratchet test freezing the JSON-contract violation list
  tests/tools/test_json_contract_ratchet.py
Due: ruff-lint, ruff-format

test(flow): add deterministic end-to-end ReceptionFlow tests with stubbed kickoffs
  tests/flows/test_reception_flow_e2e.py
Due: ruff-lint, ruff-format

test: cover remaining field_mapping entries, fix e2e docstring overclaim
  tests/flows/test_reception_flow_e2e.py
  tests/models/test_content_state_crew_inputs.py
Due: ruff-lint, ruff-format

bump
  uv.lock
Due: none

refactor: LLMConfig contract sentinel, fix dead field_mapping keys, fin_daily doc accuracy
  src/epic_news/config/llm_config.py
  src/epic_news/crews/fin_daily/fin_daily.py
  src/epic_news/models/content_state.py
  tests/crews/test_agent_llm_contract.py
  tests/models/test_content_state_crew_inputs.py
Due: ruff-lint, ruff-format

test: dedup crew registry & e2e fixtures, cache scans, add stacked-listen guard
  tests/crews/_registry.py
  tests/crews/conftest.py
  tests/crews/test_async_agent_isolation.py
  tests/crews/test_classify_config.py
  tests/flows/conftest.py
  tests/flows/test_reception_flow_e2e.py
  tests/test_flow_wiring.py
  tests/tools/test_json_contract_ratchet.py
Due: ruff-lint, ruff-format

chore(deps): drop unused pytest-datadir (audit: only removable of 54 deps)
  pyproject.toml
  uv.lock
Due: none

fix(security): allowlist PYSEC-2026-597, duplicate OSV record of accepted nltk CVE
  osv-scanner.toml
Due: none

chore(release): v3.3.0 — multi-arch Docker images, flow/classify fixes, LLMConfig routing
  .github/workflows/docker-publish-api.yml
  .github/workflows/docker-publish-code-interpreter.yml
  .github/workflows/docker-publish-combined.yml
  .github/workflows/docker-publish-streamlit.yml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: yamllint

chore(release): switch compose to GHCR, harden digest export (CodeRabbit)
  .github/workflows/docker-publish-api.yml
  .github/workflows/docker-publish-code-interpreter.yml
  .github/workflows/docker-publish-combined.yml
  .github/workflows/docker-publish-streamlit.yml
  CHANGELOG.md
  docker-compose.combined.yml
  docker-compose.yml
Due: yamllint

fix(docker): python3.13 base so non-root api/streamlit don't crash-loop
  CHANGELOG.md
  Dockerfile.api
  Dockerfile.combined
  Dockerfile.streamlit
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
