Repository fjacquet/epic_news: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff lint
        entry: ruff
        args: ["check", "--fix"]
        language: system
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: ruff
        args: ["format"]
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: yamllint
        args: ["-s"]
        language: system
        types: [yaml]

docs(sweep): document HTML-default/DOCX-opt-in runtime format + two-format verification
  docs/sweep-runbook.md
Due: none

fix(docx): render PESTEL sources + DEEPRESEARCH conclusions/recommendations/limitations; drop dead code
  .gitignore
  src/epic_news/utils/docx_report/crews/deep_research.py
  src/epic_news/utils/docx_report/crews/menu.py
  src/epic_news/utils/docx_report/crews/pestel.py
  tests/utils/docx_report/crews/test_deep_research.py
  tests/utils/docx_report/crews/test_pestel.py
Due: ruff-lint, ruff-format

fix(docx): log actual output_file path, not hardcoded 'HTML written'
  src/epic_news/main.py
Due: ruff-lint, ruff-format

test(docx): use reference-title sources in PESTEL test to clear CodeQL false positive
  tests/utils/docx_report/crews/test_pestel.py
Due: ruff-lint, ruff-format

chore(release): 3.5.0 — runtime HTML/DOCX output format for all crews
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump crewai-custom-tools to v0.4.0
  pyproject.toml
  tests/tools/test_web_tools.py
  uv.lock
Due: ruff-lint, ruff-format

fix(ci): repo-wide dummy Perplexity key for tests
  tests/conftest.py
Due: ruff-lint, ruff-format

fix(llm): retry LLM.call on empty Gemini thought-only responses
  src/epic_news/config/llm_config.py
  tests/config/test_llm_config_empty_retry.py
Due: ruff-lint, ruff-format

fix(ci): allowlist GHSA-xf7x-x43h-rpqh (json-repair DoS) pending crewai pin relax
  osv-scanner.toml
Due: none

chore(deps): bump crewai-custom-tools to v0.5.0 (additive: bounded rate limits)
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump crewai-custom-tools to v0.5.1 (additive payload fields)
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump crewai-custom-tools pin to v0.6.0
  pyproject.toml
  uv.lock
Due: none

fix(llm): force ReAct on every provider class, coerce stray tool calls
  src/epic_news/config/llm_config.py
  src/epic_news/crews/company_profiler/company_profiler_crew.py
  src/epic_news/crews/cross_reference_report_crew/cross_reference_report_crew.py
  src/epic_news/crews/fin_daily/fin_daily.py
  src/epic_news/crews/geospatial_analysis/geospatial_analysis_crew.py
  src/epic_news/crews/hr_intelligence/hr_intelligence_crew.py
  src/epic_news/crews/legal_analysis/legal_analysis_crew.py
  src/epic_news/crews/meeting_prep/meeting_prep_crew.py
  src/epic_news/crews/news_daily/news_daily.py
  src/epic_news/crews/pestel/pestel_crew.py
  src/epic_news/crews/sales_prospecting/sales_prospecting_crew.py
  src/epic_news/crews/tech_stack/tech_stack_crew.py
  src/epic_news/crews/web_presence/web_presence_crew.py
  tests/config/test_llm_config_tool_call_coercion.py
  tests/crews/_registry.py
  tests/crews/test_async_agent_isolation.py
Due: ruff-lint, ruff-format

build(deps): refresh lockfile, clearing gitpython and mcp advisories
  uv.lock
Due: none

fix(llm): widen tool-call shapes, never return a raw list, address review
  src/epic_news/config/llm_config.py
  src/epic_news/crews/fin_daily/fin_daily.py
  tests/config/test_llm_config_tool_call_coercion.py
  tests/crews/test_async_agent_isolation.py
Due: ruff-lint, ruff-format

chore(release): v3.5.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

ci: use rebase instead of squash for dependabot auto-merge
  .github/workflows/dependabot-automerge.yml
Due: yamllint

fix(deps): bump gitpython from 3.1.53 to 3.1.57
  uv.lock
Due: none

docs(spec): design for Docker build restructure
  docs/superpowers/specs/2026-07-30-docker-build-restructure-design.md
Due: none

docs(plan): implementation plan for Docker build restructure
  docs/superpowers/plans/2026-07-30-docker-build-restructure.md
Due: none

chore: ignore .worktrees/
  .gitignore
Due: none

feat(api): add GET /health liveness route
  src/epic_news/api.py
  tests/test_api.py
Due: ruff-lint, ruff-format

build(docker): invert .dockerignore to an allowlist
  .dockerignore
Due: none

build(docker): add multi-stage Dockerfile with api target
  Dockerfile
Due: none

docs(plan): pre-create every app-written directory in runtime-base
  docs/superpowers/plans/2026-07-30-docker-build-restructure.md
Due: none

fix(docker): stop chowning /app/src and /app/.venv to myuser
  Dockerfile
Due: none

docs(plan): keep code and venv read-only, add logs dir and a permission gate
  docs/superpowers/plans/2026-07-30-docker-build-restructure.md
Due: none

build(docker): add streamlit target
  Dockerfile
Due: none

build(docker): add combined target, drop root from supervisord
  Dockerfile
  supervisord.conf
Due: none

build(docker): drop per-image Dockerfiles for shared targets
  Dockerfile.api
  Dockerfile.combined
  Dockerfile.streamlit
  Makefile
Due: none

docs(plan): cover the compose files and CI workflow Task 6 broke
  docs/superpowers/plans/2026-07-30-docker-build-restructure.md
Due: none

fix(docker): repair compose healthchecks
  docker-compose.api.yml
  docker-compose.streamlit.yml
  docker-compose.yml
Due: yamllint

ci(docker): build from shared Dockerfile targets
  .github/workflows/docker-publish-api.yml
  .github/workflows/docker-publish-code-interpreter.yml
  .github/workflows/docker-publish-combined.yml
  .github/workflows/docker-publish-streamlit.yml
Due: yamllint

docs: point Docker instructions at the shared Dockerfile targets
  docs/how-to/docker_deployment.md
  pyproject.toml
Due: none

fix(docker): strip uv/uvx from the runtime, correct the claim
  .dockerignore
  Dockerfile
Due: none

docs(plan): fix the build-tooling check that could not fail
  docs/superpowers/plans/2026-07-30-docker-build-restructure.md
  docs/superpowers/specs/2026-07-30-docker-build-restructure-design.md
Due: none

docs(docker): point the deployment how-to at the real Dockerfile
  docs/how-to/docker_deployment.md
Due: none

docs(docker): say what the uv/uvx removal does not do
  Dockerfile
Due: none

docs(docker): describe the venv cache-miss mechanism accurately
  Dockerfile
  docs/how-to/docker_deployment.md
Due: none
