Repository fjacquet/epic_news: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff lint
        entry: ruff
        args: ["check", "--fix"]
        language: system
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: ruff
        args: ["format"]
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: yamllint
        args: ["-s"]
        language: system
        types: [yaml]

docs: restructure for Diátaxis + GitHub Pages publishing
  .github/workflows/docs.yml
  .gitignore
  README.md
  docs/how-to/troubleshooting.md
  docs/reference/outputs.md
  docs/tutorials/index.md
  docs/tutorials/use_cases/business_intel.md
  docs/tutorials/use_cases/finance.md
  docs/tutorials/use_cases/lifestyle.md
  docs/tutorials/use_cases/news_research.md
  docs/tutorials/user_guide.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: yamllint

chore(release): prep v2.2.0 — docs site + dashboard cleanup + slim deps
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: none

fix(ci): green CI on master — fix mypy errors, fix branch trigger
  .github/workflows/ci.yml
  Makefile
  src/epic_news/crews/pestel/pestel_crew.py
Due: ruff-lint, ruff-format, yamllint

ci: bump GitHub Actions versions + fix CI install target
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/docker-publish-api.yml
  .github/workflows/docker-publish-code-interpreter.yml
  .github/workflows/docker-publish-combined.yml
  .github/workflows/docker-publish-streamlit.yml
  .github/workflows/docs.yml
  .github/workflows/label.yml
Due: yamllint

ci: pin astral-sh/setup-uv to v8.1.0 — no floating v8 major tag
  .github/workflows/ci.yml
Due: yamllint

ci: never use real API keys in tests + fix project root resolution + pre-commit hooks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/epic_news/utils/path_utils.py
Due: ruff-lint, ruff-format, yamllint

release(v3.0.0): rename master → main + ship infra modernization
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  CHANGELOG.md
  README.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: yamllint

ci(docker): publish images to both Docker Hub and GHCR
  .github/workflows/docker-publish-api.yml
  .github/workflows/docker-publish-code-interpreter.yml
  .github/workflows/docker-publish-combined.yml
  .github/workflows/docker-publish-streamlit.yml
Due: yamllint

release(v3.1.0): PESTEL markdown rendering + impact card classification
  .serena/project.yml
  CHANGELOG.md
  pyproject.toml
  src/epic_news/main.py
  src/epic_news/utils/html/template_renderers/base_renderer.py
  src/epic_news/utils/html/template_renderers/pestel_renderer.py
  templates/css/report.css
  uv.lock
Due: ruff-lint, ruff-format, yamllint

test(rendering): regenerate HTML snapshots for v3.1.0 CSS additions
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_FINDAILY_build_findaily_.html
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_NEWSDAILY_build_newsdaily_.html
  tests/rendering/test_template_manager_rendering/test_template_manager_rendering_snapshots_SHOPPING_build_shopping_.html
Due: none

release(v3.1.1): fix CI by regenerating HTML snapshots for v3.1.0 CSS
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(make): all target installs dev extras so tests can run
  Makefile
  uv.lock
Due: none

fix(types): clean up obsolete bs4 type:ignore directives
  .rtk/filters.toml
  src/epic_news/tools/hybrid_search_tool.py
  src/epic_news/tools/rag_tools.py
  src/epic_news/tools/save_to_rag_tool.py
  src/epic_news/utils/html/template_renderers/company_news_renderer.py
  src/epic_news/utils/html/template_renderers/osint_global_renderer.py
  src/epic_news/utils/html/template_renderers/rss_weekly_renderer.py
  src/epic_news/utils/rss_weekly_converter.py
Due: ruff-lint, ruff-format

fix(rss-weekly): repair broken converter import + add coverage
  src/epic_news/utils/rss_weekly_converter.py
  tests/utils/test_rss_weekly_converter.py
Due: ruff-lint, ruff-format

fix(make): all target installs dev extras so tests can run (#91)
  .rtk/filters.toml
  Makefile
  src/epic_news/tools/hybrid_search_tool.py
  src/epic_news/tools/rag_tools.py
  src/epic_news/tools/save_to_rag_tool.py
  src/epic_news/utils/html/template_renderers/company_news_renderer.py
  src/epic_news/utils/html/template_renderers/osint_global_renderer.py
  src/epic_news/utils/html/template_renderers/rss_weekly_renderer.py
  src/epic_news/utils/rss_weekly_converter.py
  tests/utils/test_rss_weekly_converter.py
  uv.lock
Due: ruff-lint, ruff-format

release(v3.1.2): CI hardening + obsolete bs4 type:ignore cleanup
  pyproject.toml
  uv.lock
Due: none

bump packages
  .serena/project.yml
  uv.lock
Due: yamllint

fix(deps): migrate to crewai-tools 1.x API after Dependabot bump
  pyproject.toml
  scripts/update_knowledge_base.py
  src/epic_news/rag_config.py
  src/epic_news/tools/hybrid_search_tool.py
  src/epic_news/tools/rag_tools.py
  src/epic_news/tools/save_to_rag_tool.py
  src/epic_news/utils/html/template_renderers/company_news_renderer.py
  src/epic_news/utils/html/template_renderers/osint_global_renderer.py
  src/epic_news/utils/rss_weekly_converter.py
  tests/scripts/test_update_knowledge_base.py
  tests/scripts/test_update_knowledge_base_script.py
  tests/test_rag_config.py
  tests/tools/test_rag_tools.py
  tests/tools/test_save_to_rag_tool.py
  uv.lock
Due: ruff-lint, ruff-format

release(v3.1.3): crewai-tools 1.x migration + Dependabot collision fix
  pyproject.toml
  uv.lock
Due: none

fix(deps): migrate to crewai-tools 1.x API after Dependabot bump (#93)
  pyproject.toml
  scripts/update_knowledge_base.py
  src/epic_news/rag_config.py
  src/epic_news/tools/hybrid_search_tool.py
  src/epic_news/tools/rag_tools.py
  src/epic_news/tools/save_to_rag_tool.py
  src/epic_news/utils/html/template_renderers/company_news_renderer.py
  src/epic_news/utils/html/template_renderers/osint_global_renderer.py
  src/epic_news/utils/rss_weekly_converter.py
  tests/scripts/test_update_knowledge_base.py
  tests/scripts/test_update_knowledge_base_script.py
  tests/test_rag_config.py
  tests/tools/test_rag_tools.py
  tests/tools/test_save_to_rag_tool.py
  uv.lock
Due: ruff-lint, ruff-format

fix(rag): apply CodeRabbit review on PR #93
  src/epic_news/rag_config.py
  src/epic_news/tools/save_to_rag_tool.py
  tests/tools/test_rag_tools.py
Due: ruff-lint, ruff-format

fix(rag): apply CodeRabbit review on PR #93 (#94)
  src/epic_news/rag_config.py
  src/epic_news/tools/save_to_rag_tool.py
  tests/tools/test_rag_tools.py
Due: ruff-lint, ruff-format

chore(deps): prune 17 unused direct deps + delete dead retry utils
  pyproject.toml
  src/epic_news/utils/CLAUDE.md
  src/epic_news/utils/crewai_retry_patch.py
  src/epic_news/utils/llm_retry.py
  tests/utils/test_crewai_retry_patch.py
  tests/utils/test_llm_retry.py
  uv.lock
Due: ruff-lint, ruff-format

chore(deps): prune 17 unused direct deps + delete dead retry utils (#95)
  pyproject.toml
  src/epic_news/utils/CLAUDE.md
  src/epic_news/utils/crewai_retry_patch.py
  src/epic_news/utils/llm_retry.py
  tests/utils/test_crewai_retry_patch.py
  tests/utils/test_llm_retry.py
  uv.lock
Due: ruff-lint, ruff-format

fix: apply CodeRabbit nits — drop EXA_API_KEY, add retry-config heading
  pyproject.toml
  src/epic_news/main.py
  src/epic_news/tools/CLAUDE.md
  src/epic_news/utils/CLAUDE.md
Due: ruff-lint, ruff-format

fix: apply CodeRabbit nits — drop EXA_API_KEY, add retry-config heading (#96)
  pyproject.toml
  src/epic_news/main.py
  src/epic_news/tools/CLAUDE.md
  src/epic_news/utils/CLAUDE.md
Due: ruff-lint, ruff-format

version bump
  uv.lock
Due: none

chore(deps): bump requests to >=2.34.0 + fix types from stricter stubs
  pyproject.toml
  src/epic_news/tools/coinmarketcap_list_tool.py
  src/epic_news/tools/coinmarketcap_news_tool.py
  src/epic_news/tools/geoapify_places_tool.py
  src/epic_news/tools/scrape_ninja_tool.py
  uv.lock
Due: ruff-lint, ruff-format

chore(deps): bump requests to >=2.34.0 + fix types from stricter stubs (#103)
  pyproject.toml
  src/epic_news/tools/coinmarketcap_list_tool.py
  src/epic_news/tools/coinmarketcap_news_tool.py
  src/epic_news/tools/geoapify_places_tool.py
  src/epic_news/tools/scrape_ninja_tool.py
  uv.lock
Due: ruff-lint, ruff-format

chore bump
  uv.lock
Due: none

bump uv
  src/epic_news/rag_config.py
  uv.lock
Due: ruff-lint, ruff-format

docs(spec): lean deps + official CycloneDX SBOM design
  docs/superpowers/specs/2026-06-07-lean-deps-and-sbom-design.md
Due: none

docs(spec): complete full dependency audit (all 60 direct deps)
  docs/superpowers/specs/2026-06-07-lean-deps-and-sbom-design.md
Due: none

docs(plan): lean deps + secured SBOM implementation plan
  docs/superpowers/plans/2026-06-07-lean-deps-and-sbom.md
  docs/superpowers/specs/2026-06-07-lean-deps-and-sbom-design.md
Due: none

chore(deps): prune chromadb pin, langsmith, pendulum, vulture
  pyproject.toml
  tests/test_advanced_libraries.py
  uv.lock
Due: ruff-lint, ruff-format

docs: drop stale pendulum references after test-dep removal
  TODO.md
  docs/how-to/development_setup.md
Due: none

chore(deps): declare urllib3/dateutil/tabulate, drop dead markdownify branch
  pyproject.toml
  src/epic_news/app.py
  tests/test_html_to_markdown.py
  uv.lock
Due: ruff-lint, ruff-format

refactor: accurate html_to_markdown docstring + exact-output test assertion
  src/epic_news/app.py
  tests/test_html_to_markdown.py
Due: ruff-lint, ruff-format
